
<!-- Post -->

<article class="hentry post has-post-thumbnail thumb-full-width">

	<div class="post__author author vcard inline-items">
		<img src="img/author-page.jpg" alt="author">

		<div class="author-date">
			<a class="h6 post__author-name fn" href="02-ProfilePage.html">James Spiegel</a> wrote a <a href="#">blog post</a>
			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					7 hours ago
				</time>
			</div>
		</div>

		<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<ul class="more-dropdown">
				<li>
					<a href="#">Edit Post</a>
				</li>
				<li>
					<a href="#">Delete Post</a>
				</li>
				<li>
					<a href="#">Turn Off Notifications</a>
				</li>
				<li>
					<a href="#">Select as Featured</a>
				</li>
			</ul>
		</div>

	</div>

	<div class="post-thumb">
		<img src="img/post__thumb4.jpg" alt="photo">
	</div>

	<a href="#" class="h2 post-title">My Perfect Vacations in South America and Europe</a>

	<p>Lorem ipsum dolor sit amet, consectadipisicing elit, sed do eiusmod por incidid ut labore et
		dolore magna aliqua. Ut enim ad minim veniam, quis nostrud lorem exercitation ullamco laboris
		nisi ut aliquip ex ea commodo consequat. Duis en aute irure dolor in reprehenderit in voluptate
		velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
		sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
		totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
		dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
		sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt...
	</p>

	<a href="#" data-toggle="modal" data-target="#blog-post-popup" class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Read More</a>

	<div class="post-additional-info inline-items">

		<a href="#" class="post-add-icon inline-items">
			<svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
			<span>15</span>
		</a>

		<ul class="friends-harmonic">
			<li>
				<a href="#">
					<img src="img/friend-harmonic5.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic10.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic7.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic8.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic2.jpg" alt="friend">
				</a>
			</li>
		</ul>

		<div class="names-people-likes">
			<a href="#">Diana</a>, <a href="#">Nicholas</a> and
			<br>47 more liked this
		</div>


		<div class="comments-shared">
			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
				<span>16</span>
			</a>

			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
				<span>0</span>
			</a>
		</div>


	</div>

	<div class="control-block-button post-control-button">

		<a href="#" class="btn btn-control">
			<svg class="olymp-like-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
		</a>

		<a href="#" class="btn btn-control">
			<svg class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
		</a>

		<a href="#" class="btn btn-control">
			<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
		</a>

	</div>

</article>

<!-- ... end Post -->