
<!-- Post -->

<article class="hentry blog-post blog-post-v2">

	<div class="post-thumb">
		<img src="img/post12.jpg" alt="photo">
	</div>

	<div class="post-content">
		<a href="#" class="post-category bg-transparent">INSPIRATION</a>
		<a href="#" class="h4 post-title">Check out this 10 yummy breakfast recipes</a>

		<div class="post__author author vcard inline-items">
			<img src="img/author-page.jpg" alt="author">

			<div class="author-date not-uppercase">
				<a class="h6 post__author-name fn" href="#">James Spiegel</a>
				<div class="post__date">
					<time class="published" datetime="2017-03-24T18:18">
						2 months ago
					</time>
				</div>
			</div>

		</div>
	</div>

</article>

<!-- ... end Post -->
