<!-- Post -->

<article class="hentry post has-post-thumbnail shared-photo">

		<div class="post__author author vcard inline-items">
			<img src="img/author-page.jpg" alt="author">

			<div class="author-date">
				<a class="h6 post__author-name fn" href="02-ProfilePage.html">James Spiegel</a> shared
				<a href="#">Diana Jameson</a>’s <a href="#">photo</a>
				<div class="post__date">
					<time class="published" datetime="2017-03-24T18:18">
						7 hours ago
					</time>
				</div>
			</div>

			<div class="more">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
				<ul class="more-dropdown">
					<li>
						<a href="#">Edit Post</a>
					</li>
					<li>
						<a href="#">Delete Post</a>
					</li>
					<li>
						<a href="#">Turn Off Notifications</a>
					</li>
					<li>
						<a href="#">Select as Featured</a>
					</li>
				</ul>
			</div>

		</div>

		<p>Hi! Everyone should check out these amazing photographs that my friend shot the past week. Here’s one of them...leave a kind comment!</p>

		<div class="post-thumb">
			<img src="img/post-photo6.jpg" alt="photo">
		</div>

		<ul class="children single-children">
			<li class="comment-item">
				<div class="post__author author vcard inline-items">
					<img src="img/avatar8-sm.jpg" alt="author">
					<div class="author-date">
						<a class="h6 post__author-name fn" href="#">Diana Jameson</a>
						<div class="post__date">
							<time class="published" datetime="2017-03-24T18:18">
								16 hours ago
							</time>
						</div>
					</div>
				</div>

				<p>Here’s the first photo of our incredible photoshoot from yesterday. If you like it please say so and tel me what you wanna see next!</p>
			</li>
		</ul>

		<div class="post-additional-info inline-items">

			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-heart-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
				</svg>
				<span>15</span>
			</a>

			<ul class="friends-harmonic">
				<li>
					<a href="#">
						<img src="img/friend-harmonic5.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic10.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic7.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic8.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic2.jpg" alt="friend">
					</a>
				</li>
			</ul>

			<div class="names-people-likes">
				<a href="#">Diana</a>, <a href="#">Nicholas</a> and
				<br>13 more liked this
			</div>

			<div class="comments-shared">
				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-speech-balloon-icon">
						<use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
					</svg>
					<span>0</span>
				</a>

				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-share-icon">
						<use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use>
					</svg>
					<span>16</span>
				</a>
			</div>

		</div>

		<div class="control-block-button post-control-button">

			<a href="#" class="btn btn-control">
				<svg class="olymp-like-post-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
				</svg>
			</a>

			<a href="#" class="btn btn-control">
				<svg class="olymp-comments-post-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
				</svg>
			</a>

			<a href="#" class="btn btn-control">
				<svg class="olymp-share-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use>
				</svg>
			</a>

		</div>

	</article>

<!-- .. end Post -->