<!-- end Post -->

<article class="hentry blog-post has-post-thumbnail format-link">

	<div class="post-thumb bg-link">

		<div class="overlay overlay-dark"></div>

		<div class="post-content">
			<a href="#" class="h4 post-title">Olympus Network added new photo filters!</a>

			<a href="https://themeforest.net/user/crumina/portfolio" class="site-link" rel="nofollow" target="_blank">themeforest.net</a>
			<a href="https://themeforest.net/user/crumina/portfolio" class="post-link">
				<svg viewBox="0 0 59.669 59.669">
					<path d="M55.868 3.8C53.422 1.354 50.159.007 46.679.007 43.2.007 39.936 1.354 37.49 3.8l-9.07 9.07c-3.275 3.275-4.42 7.876-3.461 12.09a13.177 13.177 0 0 0-2.9-.333c-3.479 0-6.743 1.347-9.188 3.793L3.8 37.491c-5.066 5.066-5.066 13.312 0 18.378 2.446 2.446 5.709 3.793 9.189 3.793s6.743-1.347 9.189-3.793l9.07-9.07c3.275-3.275 4.42-7.876 3.461-12.09.941.212 1.91.333 2.9.333 3.48 0 6.744-1.347 9.189-3.793l9.071-9.07c5.067-5.067 5.067-13.312-.001-18.379zM28.42 43.97l-9.07 9.07c-1.69 1.69-3.95 2.621-6.361 2.621s-4.67-.931-6.361-2.621c-3.507-3.508-3.507-9.214 0-12.722l9.071-9.07a8.93 8.93 0 0 1 6.36-2.621c1.724 0 3.366.483 4.782 1.372l-7.752 7.752a2 2 0 1 0 2.828 2.828l7.753-7.753c2.182 3.474 1.77 8.123-1.25 11.144zm24.62-24.62l-9.071 9.07a8.93 8.93 0 0 1-6.361 2.621 8.954 8.954 0 0 1-4.781-1.372l7.752-7.752a2 2 0 1 0-2.828-2.828l-7.753 7.753c-2.182-3.474-1.77-8.122 1.25-11.143l9.07-9.07a8.932 8.932 0 0 1 6.361-2.621c2.412 0 4.67.931 6.361 2.621s2.621 3.949 2.621 6.361a8.93 8.93 0 0 1-2.621 6.36z"/>
				</svg>
			</a>

		</div>
	</div>

</article>

<!-- ... end Post -->