<!-- Post -->

<article class="hentry blog-post has-post-thumbnail format-quote">

	<div class="post-thumb">
		<div class="overlay"></div>

		<div class="post-content">
			<div class="quote-icon">
				<svg viewBox="0 0 32 32">
					<path d="M32 28V4L20 16v12zm-20 0V4L0 16v12z"/>
				</svg>
			</div>
			<a href="#" class="h2 post-title">In here we are not a team.We are a family...</a>

			<div class="post__author author vcard">
				<img src="img/quote-face.png" alt="author">
				<a class="h6 post__author-name fn" href="#">ALEXANDRA STEVENS</a>
				<div class="author-prof">OLYMPUS CEO</div>
			</div>
		</div>
	</div>

</article>

<!-- ... end Post -->