<!-- Post -->

<article class="hentry blog-post blog-post-v2">
	<div class="post-thumb">
		<img src="img/post7.jpg" alt="photo">
	</div>
	<div class="post-content">
		<a href="#" class="post-category bg-blue-light">THE COMMUNITY</a>
		<a href="#" class="h4 post-title">Here are the best tattoos of our community</a>

		<div class="post__author author vcard inline-items">
			<img src="img/avatar84-sm.jpg" alt="author">

			<div class="author-date not-uppercase">
				<a class="h6 post__author-name fn" href="#">Jack Scorpio</a>
				<div class="post__date">
					<time class="published" datetime="2017-03-24T18:18">
						2 months ago
					</time>
				</div>
			</div>

		</div>

		<div class="post-additional-info inline-items">

			<div class="friends-harmonic-wrap">
				<ul class="friends-harmonic">
					<li>
						<a href="#">
							<img src="img/icon-chat26.png" alt="icon">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/icon-chat25.png" alt="icon">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/icon-chat21.png" alt="icon">
						</a>
					</li>
				</ul>
				<div class="names-people-likes">
					104
				</div>
			</div>

			<div class="comments-shared">
				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-speech-balloon-icon">
						<use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
					</svg>
					<span>84</span>
				</a>
			</div>

		</div>
	</div>
</article>

<!-- ... end Post -->
