<!-- Post -->

<article class="hentry blog-post has-post-thumbnail format-slider">

	<div class="post-thumb">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="img/post6.jpg" alt="photo">
					<a href="img/post6.jpg" class="post-type-icon js-zoom-image">
						<svg class="olymp-camera-icon">
							<use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
						</svg>
					</a>
				</div>

				<div class="swiper-slide">
					<img src="img/post6.jpg" alt="photo">
					<a href="img/post6.jpg" class="post-type-icon js-zoom-image">
						<svg class="olymp-camera-icon">
							<use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
						</svg>
					</a>
				</div>

				<div class="swiper-slide">
					<img src="img/post6.jpg" alt="photo">
					<a href="img/post6.jpg" class="post-type-icon js-zoom-image">
						<svg class="olymp-camera-icon">
							<use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
						</svg>
					</a>
				</div>

			</div>

			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>
		</div>
	</div>

	<div class="post-content">
		<a href="#" class="post-category bg-primary">INSPIRATION</a>
		<a href="#" class="h4 post-title">Take a look at these truly awesome worspaces</a>
		<p>Here’s a photo from last month’s photoshoot. We really had a great time and got a
			batch of really awesome shots for the new catalog.
		</p>

		<div class="author-date ">
			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					2 days ago by
				</time>
			</div>
			<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
		</div>

		<div class="post-additional-info inline-items">

			<div class="friends-harmonic-wrap">
				<ul class="friends-harmonic">
					<li>
						<a href="#">
							<img src="img/icon-chat27.png" alt="icon">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/icon-chat2.png" alt="icon">
						</a>
					</li>
				</ul>
				<div class="names-people-likes">
					26
				</div>
			</div>

			<div class="comments-shared">
				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-speech-balloon-icon">
						<use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
					</svg>
					<span>0</span>
				</a>
			</div>

		</div>
	</div>

</article>

<!-- ... end Post -->