
<!-- Post -->

<article class="hentry blog-post">

	<div class="post-thumb">
		<img src="img/post5.jpg" alt="photo">
	</div>

	<div class="post-content">
		<a href="#" class="post-category bg-transparent">THE COMMUNITY</a>
		<a href="#" class="h4 post-title">Olympus’s family picnic was a success!</a>
		<p>Here’s a photo from last month’s photoshoot. We really had a great time and got a
			batch of really awesome shots for the new catalog.
		</p>

		<div class="author-date not-uppercase">
			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					1 MONTH ago by
				</time>
			</div>
			<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
		</div>
	</div>

</article>

<!-- ... end Post -->