<!-- Post -->

<article class="hentry blog-post has-post-thumbnail format-audio">

	<div class="post-thumb">
		<iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/414446448&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
	</div>


	<div class="post-content">
		<a href="#" class="post-category bg-purple">INSPIRATION</a>
		<a href="#" class="h4 post-title">Listen to this 10 yummy breakfast recipes</a>
		<p>Here’s a photo from last month’s photoshoot. We got really awesome shots for the new catalog.</p>

		<div class="author-date ">
			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					2 days ago by
				</time>
			</div>
			<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
		</div>

		<div class="post-additional-info inline-items">

			<div class="friends-harmonic-wrap">
				<ul class="friends-harmonic">
					<li>
						<a href="#">
							<img src="img/icon-chat27.png" alt="icon">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/icon-chat2.png" alt="icon">
						</a>
					</li>
				</ul>
				<div class="names-people-likes">
					26
				</div>
			</div>

			<div class="comments-shared">
				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-speech-balloon-icon">
						<use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
					</svg>
					<span>0</span>
				</a>
			</div>

		</div>
	</div>

</article>

<!-- ... end Post -->