<!-- Post -->

<article class="hentry blog-post">

	<div class="post-thumb">
		<img src="img/post3.jpg" alt="photo">
	</div>

	<div class="post-content">
		<a href="#" class="post-category bg-purple">INSPIRATION</a>
		<a href="#" class="h4 post-title">Take a look at these truly awesome worspaces</a>
		<p>Here’s a photo from last month’s photoshoot. We got really awesome shots for the new catalog.</p>

		<div class="author-date">
			by
			<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					- 2 days ago
				</time>
			</div>
		</div>

		<div class="post-additional-info inline-items">

			<div class="friends-harmonic-wrap">
				<ul class="friends-harmonic">
					<li>
						<a href="#">
							<img src="img/icon-chat28.png" alt="icon">
						</a>
					</li>
				</ul>
				<div class="names-people-likes">
					0
				</div>
			</div>

			<div class="comments-shared">
				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-speech-balloon-icon">
						<use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
					</svg>
					<span>22</span>
				</a>
			</div>

		</div>
	</div>

</article>

<!-- ... end Post -->