
<!-- Post -->

<article class="hentry post video">

	<div class="post__author author vcard inline-items">
		<img src="img/author-page.jpg" alt="author">

		<div class="author-date">
			<a class="h6 post__author-name fn" href="#">James Spiegel </a> shared a <a href="#">link</a>
			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					7 hours ago
				</time>
			</div>
		</div>

		<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<ul class="more-dropdown">
				<li>
					<a href="#">Edit Post</a>
				</li>
				<li>
					<a href="#">Delete Post</a>
				</li>
				<li>
					<a href="#">Turn Off Notifications</a>
				</li>
				<li>
					<a href="#">Select as Featured</a>
				</li>
			</ul>
		</div>

	</div>

	<p>Hey <a href="#">Chris</a>! here’s the new article I was talking you about. Check it out!</p>

	<div class="post-video">
		<div class="video-thumb f-none">
			<img src="img/post-video.jpg" alt="photo">
			<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video">
				<svg class="olymp-play-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-play-icon"></use></svg>
			</a>
		</div>

		<div class="video-content">
			<a href="#" class="h4 title">The Secrets of the Auroris Movie Effects</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut
				labore et dolore magna aliqua. Ut enim ad minim veniam, quis...
			</p>
			<a href="#" class="link-site">MOVIEMAG.COM</a> | <a href="#" class="link-site">BY DAN STEVENS</a>
		</div>
	</div>

	<div class="post-additional-info inline-items">

		<a href="#" class="post-add-icon inline-items">
			<svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
			<span>15</span>
		</a>

		<ul class="friends-harmonic">
			<li>
				<a href="#">
					<img src="img/friend-harmonic9.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic10.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic7.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic8.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic11.jpg" alt="friend">
				</a>
			</li>
		</ul>

		<div class="names-people-likes">
			<a href="#">Diana</a>, <a href="#">Nicholas</a> and
			<br>13 more liked this
		</div>

		<div class="comments-shared">
			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
				<span>1</span>
			</a>

			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
				<span>16</span>
			</a>
		</div>

	</div>

	<div class="control-block-button post-control-button">

		<a href="#" class="btn btn-control">
			<svg class="olymp-like-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
		</a>

		<a href="#" class="btn btn-control">
			<svg class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
		</a>

		<a href="#" class="btn btn-control">
			<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
		</a>

	</div>

</article>

<!-- ...end  Post -->