
<!-- Post -->

<article class="hentry post">

	<div class="post__author author vcard inline-items">
		<img src="img/avatar5-sm.jpg" alt="author">

		<div class="author-date">
			<a class="h6 post__author-name fn" href="#">Green Goo Rock</a>
			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					4 hours ago
				</time>
			</div>
		</div>

		<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<ul class="more-dropdown">
				<li>
					<a href="#">Edit Post</a>
				</li>
				<li>
					<a href="#">Delete Post</a>
				</li>
				<li>
					<a href="#">Turn Off Notifications</a>
				</li>
				<li>
					<a href="#">Select as Featured</a>
				</li>
			</ul>
		</div>

	</div>

	<p>Hi guys! We just wanted to let everyone know that we are currently recording
		our new album “News of the Goo”. We’ll be playing one of our new songs this Friday at 8pm in
		our Fake Street 320 recording studio, come and join us!
	</p>

	<div class="post-additional-info inline-items">

		<a href="#" class="post-add-icon inline-items">
			<svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
			<span>36</span>
		</a>

		<ul class="friends-harmonic">
			<li>
				<a href="#">
					<img src="img/friend-harmonic7.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic8.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic9.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic10.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic11.jpg" alt="friend">
				</a>
			</li>
		</ul>

		<div class="names-people-likes">
			<a href="#">You</a>, <a href="#">Elaine</a> and
			<br>34 more liked this
		</div>


		<div class="comments-shared">
			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
				<span>17</span>
			</a>

			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
				<span>24</span>
			</a>
		</div>


	</div>

	<div class="control-block-button post-control-button">

		<a href="#" class="btn btn-control">
			<svg class="olymp-like-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
		</a>

		<a href="#" class="btn btn-control">
			<svg class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
		</a>

		<a href="#" class="btn btn-control">
			<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
		</a>

	</div>

</article>

<!-- ... end Post -->
