
<ul class="table-careers">
	<li class="head">
		<span>DATE POSTED</span>
		<span>POSITION</span>
		<span>TYPE</span>
		<span>PLACE</span>
		<span></span>
	</li>

	<li>
		<span class="date">03/12/2017</span>
		<span class="position bold">UI/UX Designer</span>
		<span class="type bold">Full Time</span>
		<span class="town-place">San Francisco, CA</span>
		<span><a href="#" class="btn btn-primary btn-sm full-width" data-toggle="modal" data-target="#edit-my-poll-popup">Apply Now!</a></span>
	</li>

	<li>
		<span class="date">03/09/2017</span>
		<span class="position bold">Social Media Manager</span>
		<span class="type bold">Part Time</span>
		<span class="town-place">Austin, TX</span>
		<span><a href="#" class="btn btn-primary btn-sm full-width" data-toggle="modal" data-target="#edit-my-poll-popup">Apply Now!</a></span>
	</li>

	<li>
		<span class="date">02/27/2017</span>
		<span class="position bold">Senior Developer</span>
		<span class="type bold">Full Time</span>
		<span class="town-place">San Francisco, CA</span>
		<span><a href="#" class="btn btn-primary btn-sm full-width" data-toggle="modal" data-target="#edit-my-poll-popup">Apply Now!</a></span>
	</li>

	<li>
		<span class="date">02/24/2017</span>
		<span class="position bold">Content Reviewer</span>
		<span class="type bold">Remote</span>
		<span class="town-place">United States</span>
		<span><a href="#" class="btn btn-primary btn-sm full-width" data-toggle="modal" data-target="#edit-my-poll-popup">Apply Now!</a></span>
	</li>

	<li>
		<span class="date">02/24/2017</span>
		<span class="position bold">Customer Service Manager</span>
		<span class="type bold">Full Time</span>
		<span class="town-place">New York, NY</span>
		<span><a href="#" class="btn btn-primary btn-sm full-width" data-toggle="modal" data-target="#edit-my-poll-popup">Apply Now!</a></span>
	</li>
</ul>
