
<!-- Info Box  -->

<div class="crumina-module crumina-info-box crumina-info-box--thumb-left">
	<div class="info-box-image">
		<img src="img/info10.png" alt="icon">
	</div>
	<div class="info-box-content">
		<h3 class="info-box-title">Free Snack Bar</h3>
		<p class="info-box-text">Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod tempor incididunt ut la etere dolore magna aliqua.</p>
	</div>
</div>

<!-- ... end Info Box  -->
