
<!-- Follow Instagram -->

<div class="follow-instagram">
	<img src="img/inst5.jpg" alt="photo">
	<img src="img/inst4.jpg" alt="photo">
	<img src="img/inst3.jpg" alt="photo">
	<img src="img/inst2.jpg" alt="photo">
	<img src="img/inst1.jpg" alt="photo">
	<div class="overlay overlay-dark"></div>
	<a href="#" class="btn btn-blue btn-lg with--icon">
		<img class="icon" src="img/inst-logo.png" alt="app store">
		<div class="text">
			<span class="sup-title">CHECK OUT OUR OFFICES</span>
			<span class="title">Follow our Instagram</span>
		</div>
	</a>
</div>

<!-- ... end Follow Instagram -->
