
<div class="main-header main-landing">

	<div class="content-bg-wrap bg-landing"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-6 m-auto col-md-12 col-sm-12 col-12">
				<div class="main-header-content">

					<a href="#" class="logo">
						<div class="img-wrap">
							<img src="img/logo-landing.png" alt="Olympus">
						</div>
						<div class="title-block">
							<h6 class="logo-title">olympus</h6>
							<div class="sub-title">SOCIAL NETWORK</div>
						</div>
					</a>

					<h1>The Most Complete Social Network is Here!</h1>
					<p>We included all you may need to build the best social network! Things like profile pages, newsfeed,
						friend groups, statistics, birthdays, community badges, events calendar, full music player and
						unique iconography! Have fun customizing it!
					</p>

					<a data-scroll href="#items" class="btn btn-purple btn-lg">Check all the Pages!</a>
				</div>
			</div>
		</div>
	</div>

	<img class="img-bottom" src="img/group-bottom.png" alt="friends">
	<img class="img-rocket" src="img/rocket.png" alt="rocket">
</div>
