<!-- Main Header Events -->

<div class="main-header">
	<div class="content-bg-wrap bg-events"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>{{#if stunning-title}}{{stunning-title}}{{else}}Default Page{{/if}}</h1>
					<p>{{#if stunning-text}}{{stunning-text}}{{else}}Lorem ipsum dolor sit amet...{{/if}}</p>
				</div>
			</div>
		</div>
	</div>

	<img class="img-bottom" src="img/event-bottom.png" alt="friends">
</div>

<!-- ... end Main Header Events -->
