
<!-- Tabs App Mobile -->

<ul class="nav nav-tabs mobile-app-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#profile-author" role="tab">
			<div class="author-thumb">
				<img alt="author" src="img/author-page.jpg" class="avatar">
				<span class="icon-status online"></span>
			</div>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#newsfeed" role="tab">
			<svg class="olymp-newsfeed-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-newsfeed-icon"></use></svg>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#request" role="tab">
			<div class="control-icon has-items">
				<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
				<div class="label-avatar bg-blue">6</div>
			</div>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#chat" role="tab">
			<div class="control-icon has-items">
				<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
				<div class="label-avatar bg-purple">2</div>
			</div>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#notification" role="tab">
			<div class="control-icon has-items">
				<svg class="olymp-thunder-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>
				<div class="label-avatar bg-primary">8</div>
			</div>
		</a>
	</li>

</ul>

<!-- ... end Tabs App Mobile -->
