
<!-- Tab panes -->

<div class="tab-content">
	<div class="tab-pane" id="profile-author" role="tabpanel">
		<!-- Top Header -->


		<div class="ui-block">
			<div class="top-header">
				<div class="top-header-thumb">
					<img src="img/top-header1.jpg" alt="nature">
				</div>
				<div class="profile-section">
					<div class="top-header-author">
						<a href="#" class="author-thumb">
							<img src="img/author-main1.jpg" alt="author">
						</a>
						<div class="author-content">
							<a href="#" class="h4 author-name">James Spiegel</a>
							<div class="country">San Francisco, CA</div>
						</div>
					</div>

					<div class="control-block-button">
						<a href="#" class="btn btn-control bg-blue">
							<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
						</a>
						<a href="#" class="btn btn-control bg-purple">
							<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
						</a>
						<div class="btn btn-control bg-primary more">
							<svg class="olymp-settings-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>
							<ul class="more-dropdown more-with-triangle triangle-bottom-right">
								<li>
									<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Profile Photo</a>
								</li>
								<li>
									<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header Photo</a>
								</li>
								<li>
									<a href="#">Account Settings</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- ... end Top Header -->

		<div class="ui-block align-center">
			<div class="ui-block-title">
				<div class="h6 title">Timeline</div>
				<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
			</div>
		</div>

		<div class="ui-block mobile-margin-25">
			<div class="ui-block-title">
				<h6 class="title">Last Photos</h6>
			</div>
			<div class="ui-block-content">
				<ul class="widget w-last-photo js-zoom-gallery">
					<li>
						<a href="img/last-photo10-large.jpg">
							<img src="img/last-photo10-large.jpg" alt="photo">
						</a>
					</li>
					<li>
						<a href="img/last-phot11-large.jpg">
							<img src="img/last-phot11-large.jpg" alt="photo">
						</a>
					</li>
					<li>
						<a href="img/last-phot12-large.jpg">
							<img src="img/last-phot12-large.jpg" alt="photo">
						</a>
					</li>
					<li>
						<a href="img/last-phot13-large.jpg">
							<img src="img/last-phot13-large.jpg" alt="photo">
						</a>
					</li>
					<li>
						<a href="img/last-phot14-large.jpg">
							<img src="img/last-phot14-large.jpg" alt="photo">
						</a>
					</li>
					<li>
						<a href="img/last-phot15-large.jpg">
							<img src="img/last-phot15-large.jpg" alt="photo">
						</a>
					</li>
					<li>
						<a href="img/last-phot16-large.jpg">
							<img src="img/last-phot16-large.jpg" alt="photo">
						</a>
					</li>
					<li>
						<a href="img/last-phot17-large.jpg">
							<img src="img/last-phot17-large.jpg" alt="photo">
						</a>
					</li>
					<li>
						<a href="img/last-phot18-large.jpg">
							<img src="img/last-phot18-large.jpg" alt="photo">
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div id="newsfeed-items-grid">
			<div class="ui-block">
				<article class="hentry post">

					<div class="post__author author vcard inline-items">
						<img src="img/author-page.jpg" alt="author">

						<div class="author-date">
							<a class="h6 post__author-name fn" href="#">James Spiegel</a>
							<div class="post__date">
								<time class="published" datetime="2017-03-24T18:18">
									19 hours ago
								</time>
							</div>
						</div>

						<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Edit Post</a>
								</li>
								<li>
									<a href="#">Delete Post</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
								<li>
									<a href="#">Select as Featured</a>
								</li>
							</ul>
						</div>

					</div>

					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
						accusantium doloremque.
					</p>

					<div class="post-additional-info inline-items">

						<a href="#" class="post-add-icon inline-items">
							<svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
							<span>8</span>
						</a>

						<div class="comments-shared">
							<a href="#" class="post-add-icon inline-items">
								<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
								<span>17</span>
							</a>

							<a href="#" class="post-add-icon inline-items">
								<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
								<span>24</span>
							</a>
						</div>


					</div>

					<div class="control-block-button post-control-button">

						<a href="#" class="btn btn-control featured-post">
							<svg class="olymp-trophy-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-trophy-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control">
							<svg class="olymp-like-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control">
							<svg class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control">
							<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
						</a>

					</div>

				</article>
			</div>

			<div class="ui-block">
				<article class="hentry post video">

					<div class="post__author author vcard inline-items">
						<img src="img/author-page.jpg" alt="author">

						<div class="author-date">
							<a class="h6 post__author-name fn" href="#">James Spiegel</a> shared a <a href="#">link</a>
							<div class="post__date">
								<time class="published" datetime="2017-03-24T18:18">
									7 hours ago
								</time>
							</div>
						</div>

						<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Edit Post</a>
								</li>
								<li>
									<a href="#">Delete Post</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
								<li>
									<a href="#">Select as Featured</a>
								</li>
							</ul>
						</div>

					</div>

					<p>If someone missed it, check out the new song by System of a Revenge! I thinks they are going back to their roots...</p>

					<div class="post-video">
						<div class="video-thumb">
							<img src="img/video5-m.jpg" alt="photo">
							<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video play-video--mobile">
								<svg class="olymp-play-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-play-icon"></use></svg>
							</a>
						</div>

						<div class="video-content">
							<a href="#" class="h5 title">System of a Revenge - Nothing Else Matters... </a>
							<a href="#" class="link-site">YOUTUBE.COM</a>
						</div>
					</div>

					<div class="post-additional-info inline-items">

						<a href="#" class="post-add-icon inline-items">
							<svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
							<span>15</span>
						</a>

						<div class="comments-shared">
							<a href="#" class="post-add-icon inline-items">
								<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
								<span>1</span>
							</a>

							<a href="#" class="post-add-icon inline-items">
								<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
								<span>16</span>
							</a>
						</div>


					</div>

					<div class="control-block-button post-control-button">

						<a href="#" class="btn btn-control">
							<svg class="olymp-like-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control">
							<svg class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control">
							<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
						</a>

					</div>

				</article>

				<ul class="comments-list">
					<li class="comment-item">
						<div class="post__author author vcard inline-items">
							<img src="img/avatar10-sm.jpg" alt="author">

							<div class="author-date">
								<a class="h6 post__author-name fn" href="#">Elaine Dreyfuss</a>
								<div class="post__date">
									<time class="published" datetime="2017-03-24T18:18">
										5 mins ago
									</time>
								</div>
							</div>

							<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

						</div>

						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>

						<a href="#" class="post-add-icon inline-items">
							<svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
							<span>8</span>
						</a>
						<a href="#" class="reply">Reply</a>
					</li>
					<li class="comment-item has-children">
						<div class="post__author author vcard inline-items">
							<img src="img/avatar5-sm.jpg" alt="author">

							<div class="author-date">
								<a class="h6 post__author-name fn" href="#">Green Goo Rock</a>
								<div class="post__date">
									<time class="published" datetime="2017-03-24T18:18">
										1 hour ago
									</time>
								</div>
							</div>

							<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

						</div>

						<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugiten, sed quia
							consequuntur magni dolores eos qui ratione voluptatem sequi en lod nesciunt. Neque porro
							quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit en lorem ipsum der.
						</p>

						<a href="#" class="post-add-icon inline-items">
							<svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
							<span>5</span>
						</a>
						<a href="#" class="reply">Reply</a>

						<ul class="children">
							<li>
								<div class="post__author author vcard inline-items">
									<img src="img/avatar8-sm.jpg" alt="author">

									<div class="author-date">
										<a class="h6 post__author-name fn" href="#">Diana Jameson</a>
										<div class="post__date">
											<time class="published" datetime="2017-03-24T18:18">
												39 mins ago
											</time>
										</div>
									</div>

									<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

								</div>

								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

								<a href="#" class="post-add-icon inline-items">
									<svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
									<span>2</span>
								</a>
								<a href="#" class="reply">Reply</a>
							</li>
							<li>
								<div class="post__author author vcard inline-items">
									<img src="img/avatar2-sm.jpg" alt="author">

									<div class="author-date">
										<a class="h6 post__author-name fn" href="#">Nicholas Grisom</a>
										<div class="post__date">
											<time class="published" datetime="2017-03-24T18:18">
												24 mins ago
											</time>
										</div>
									</div>

									<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

								</div>

								<p>Excepteur sint occaecat cupidatat non proident.</p>

								<a href="#" class="post-add-icon inline-items">
									<svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
									<span>0</span>
								</a>
								<a href="#" class="reply">Reply</a>

							</li>
						</ul>

					</li>



					<li>
						<div class="post__author author vcard inline-items">
							<img src="img/avatar4-sm.jpg" alt="author">

							<div class="author-date">
								<a class="h6 post__author-name fn" href="#">Chris Greyson</a>
								<div class="post__date">
									<time class="published" datetime="2017-03-24T18:18">
										1 hour ago
									</time>
								</div>
							</div>

							<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

						</div>

						<p>Dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>

						<a href="#" class="post-add-icon inline-items">
							<svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
							<span>7</span>
						</a>
						<a href="#" class="reply">Reply</a>

					</li>
				</ul>

				<a href="#" class="more-comments">View more comments <span>+</span></a>

				<form class="comment-form inline-items">

					<div class="post__author author vcard inline-items">
						<img src="img/author-page.jpg" alt="author">

						<div class="form-group with-icon-right ">
							<textarea class="form-control" placeholder=""></textarea>
							<div class="add-options-message">
								<a href="#" class="options-message" data-toggle="modal" data-target="#update-header-photo">
									<svg class="olymp-camera-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
								</a>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>

		<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

	</div>

	<div class="tab-pane " id="newsfeed" role="tabpanel">
		<div class="ui-block">
			<div class="news-feed-form">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">

							<svg class="olymp-status-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-status-icon"></use></svg>

							<span>Status</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link inline-items" data-toggle="tab" href="#profile-1" role="tab" aria-expanded="false">
							<svg class="olymp-multimedia-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-multimedia-icon"></use></svg>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link inline-items" data-toggle="tab" href="#blog" role="tab" aria-expanded="false">
							<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
						</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
						<form>
							<div class="author-thumb">
								<img src="img/author-page.jpg" alt="author">
							</div>
							<div class="form-group with-icon label-floating is-empty">
								<label class="control-label">Share what you are thinking here...</label>
								<textarea class="form-control" placeholder=""></textarea>
							</div>
							<div class="add-options-message">
								<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD PHOTOS">
									<svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
								</a>
								<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="TAG YOUR FRIENDS">
									<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
								</a>

								<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD LOCATION">
									<svg class="olymp-small-pin-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
								</a>

								<button class="btn btn-primary btn-md-2">Post Status</button>

							</div>

						</form>
					</div>

					<div class="tab-pane" id="profile-1" role="tabpanel" aria-expanded="true">
						<form>
							<div class="author-thumb">
								<img src="img/author-page.jpg" alt="author">
							</div>
							<div class="form-group with-icon label-floating is-empty">
								<label class="control-label">Share what you are thinking here...</label>
								<textarea class="form-control" placeholder=""  ></textarea>
							</div>
							<div class="add-options-message">
								<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD PHOTOS">
									<svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
								</a>
								<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="TAG YOUR FRIENDS">
									<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
								</a>

								<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD LOCATION">
									<svg class="olymp-small-pin-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
								</a>

								<button class="btn btn-primary btn-md-2">Post Status</button>

							</div>

						</form>
					</div>

					<div class="tab-pane" id="blog" role="tabpanel" aria-expanded="true">
						<form>
							<div class="author-thumb">
								<img src="img/author-page.jpg" alt="author">
							</div>
							<div class="form-group with-icon label-floating is-empty">
								<label class="control-label">Share what you are thinking here...</label>
								<textarea class="form-control" placeholder=""  ></textarea>
							</div>
							<div class="add-options-message">
								<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD PHOTOS">
									<svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
								</a>
								<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="TAG YOUR FRIENDS">
									<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
								</a>

								<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD LOCATION">
									<svg class="olymp-small-pin-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
								</a>

								<button class="btn btn-primary btn-md-2">Post Status</button>

							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="ui-block">
			<article class="hentry post video">

				<div class="post__author author vcard inline-items">
					<img src="img/author-page.jpg" alt="author">

					<div class="author-date">
						<a class="h6 post__author-name fn" href="#">James Spiegel </a> shared a <a href="#">link</a>
						<div class="post__date">
							<time class="published" datetime="2017-03-24T18:18">
								7 hours ago
							</time>
						</div>
					</div>

					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
						<ul class="more-dropdown">
							<li>
								<a href="#">Edit Post</a>
							</li>
							<li>
								<a href="#">Delete Post</a>
							</li>
							<li>
								<a href="#">Turn Off Notifications</a>
							</li>
							<li>
								<a href="#">Select as Featured</a>
							</li>
						</ul>
					</div>

				</div>

				<p>Hey <a href="#">Chris</a>! here’s the new article I was talking you about. Check it out!</p>

				<div class="post-video">
					<div class="video-thumb f-none">
						<img src="img/post-video.jpg" alt="photo">
						<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video">
							<svg class="olymp-play-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-play-icon"></use></svg>
						</a>
					</div>

					<div class="video-content">
						<a href="#" class="h4 title">The Secrets of the Auroris Movie Effects</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis...
						</p>
						<a href="#" class="link-site">MOVIEMAG.COM</a>
					</div>
				</div>

				<div class="post-additional-info inline-items">

					<a href="#" class="post-add-icon inline-items">
						<svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
						<span>15</span>
					</a>

					<div class="comments-shared">
						<a href="#" class="post-add-icon inline-items">
							<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
							<span>1</span>
						</a>

						<a href="#" class="post-add-icon inline-items">
							<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
							<span>16</span>
						</a>
					</div>

				</div>

				<div class="control-block-button post-control-button">

					<a href="#" class="btn btn-control">
						<svg class="olymp-like-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
					</a>

					<a href="#" class="btn btn-control">
						<svg class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
					</a>

					<a href="#" class="btn btn-control">
						<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
					</a>

				</div>

			</article>
		</div>
	</div>

	<div class="tab-pane " id="request" role="tabpanel">

		<div class="ui-block-title ui-block-title-small">
			<h6 class="title">FRIEND REQUESTS</h6>
			<a href="#">Find Friends</a>
			<a href="#">Settings</a>
		</div>

		<ul class="notification-list friend-requests">
			<li>
				<div class="author-thumb">
					<img src="img/avatar55-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<a href="#" class="h6 notification-friend">Tamara Romanoff</a>
					<span class="chat-message-item">Mutual Friend: Sarah Hetfield</span>
				</div>
				<span class="notification-icon">
									<a href="#" class="accept-request">
										<span class="icon-add without-text">
											<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
										</span>
									</a>

									<a href="#" class="accept-request request-del">
										<span class="icon-minus">
											<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
										</span>
									</a>

								</span>

				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				</div>
			</li>
			<li>
				<div class="author-thumb">
					<img src="img/avatar56-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<a href="#" class="h6 notification-friend">Tony Stevens</a>
					<span class="chat-message-item">4 Friends in Common</span>
				</div>
				<span class="notification-icon">
									<a href="#" class="accept-request">
										<span class="icon-add without-text">
											<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
										</span>
									</a>

									<a href="#" class="accept-request request-del">
										<span class="icon-minus">
											<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
										</span>
									</a>

								</span>

				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				</div>
			</li>
			<li class="accepted">
				<div class="author-thumb">
					<img src="img/avatar57-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					You and <a href="#" class="h6 notification-friend">Mary Jane Stark</a> just became friends. Write on <a href="#" class="notification-link">her wall</a>.
				</div>
				<span class="notification-icon">
									<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
								</span>

				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
					<svg class="olymp-little-delete"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
				</div>
			</li>
			<li>
				<div class="author-thumb">
					<img src="img/avatar58-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<a href="#" class="h6 notification-friend">Stagg Clothing</a>
					<span class="chat-message-item">9 Friends in Common</span>
				</div>
				<span class="notification-icon">
									<a href="#" class="accept-request">
										<span class="icon-add without-text">
											<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
										</span>
									</a>

									<a href="#" class="accept-request request-del">
										<span class="icon-minus">
											<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
										</span>
									</a>

								</span>

				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				</div>
			</li>
		</ul>
		<a href="#" class="view-all bg-blue">Check all your Events</a>

	</div>

	<div class="tab-pane " id="chat" role="tabpanel">

		<div class="ui-block-title ui-block-title-small">
			<h6 class="title">Chat / Messages</h6>
			<a href="#">Mark all as read</a>
			<a href="#">Settings</a>
		</div>


		<ul class="notification-list chat-message">
			<li class="message-unread">
				<div class="author-thumb">
					<img src="img/avatar59-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<a href="#" class="h6 notification-friend">Diana Jameson</a>
					<span class="chat-message-item">Hi James! It’s Diana, I just wanted to let you know that we have to reschedule...</span>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
				</div>
				<span class="notification-icon">
									<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
								</span>
				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				</div>
			</li>

			<li>
				<div class="author-thumb">
					<img src="img/avatar60-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<a href="#" class="h6 notification-friend">Jake Parker</a>
					<span class="chat-message-item">Great, I’ll see you tomorrow!.</span>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
				</div>
				<span class="notification-icon">
									<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
								</span>

				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				</div>
			</li>
			<li>
				<div class="author-thumb">
					<img src="img/avatar61-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<a href="#" class="h6 notification-friend">Elaine Dreyfuss</a>
					<span class="chat-message-item">We’ll have to check that at the office and see if the client is on board with...</span>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 9:56pm</time></span>
				</div>
				<span class="notification-icon">
										<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
									</span>
				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				</div>
			</li>

			<li class="chat-group">
				<div class="author-thumb">
					<img src="img/avatar11-sm.jpg" alt="author">
					<img src="img/avatar12-sm.jpg" alt="author">
					<img src="img/avatar13-sm.jpg" alt="author">
					<img src="img/avatar10-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<a href="#" class="h6 notification-friend">You, Faye, Ed &amp; Jet +3</a>
					<span class="last-message-author">Ed:</span>
					<span class="chat-message-item">Yeah! Seems fine by me!</span>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 16th at 10:23am</time></span>
				</div>
				<span class="notification-icon">
										<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
									</span>
				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				</div>
			</li>
		</ul>


		<a href="#" class="view-all bg-purple">View All Messages</a>

	</div>

	<div class="tab-pane " id="notification" role="tabpanel">

		<div class="ui-block-title ui-block-title-small">
			<h6 class="title">Notifications</h6>
			<a href="#">Mark all as read</a>
			<a href="#">Settings</a>
		</div>


		<ul class="notification-list">
			<li>
				<div class="author-thumb">
					<img src="img/avatar62-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<div><a href="#" class="h6 notification-friend">Mathilda Brinker</a> commented on your new <a href="#" class="notification-link">profile status</a>.</div>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
				</div>
				<span class="notification-icon">
										<svg class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
									</span>

				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
					<svg class="olymp-little-delete"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
				</div>
			</li>

			<li class="un-read">
				<div class="author-thumb">
					<img src="img/avatar63-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<div>You and <a href="#" class="h6 notification-friend">Nicholas Grissom</a> just became friends. Write on <a href="#" class="notification-link">his wall</a>.</div>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">9 hours ago</time></span>
				</div>
				<span class="notification-icon">
										<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
									</span>

				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
					<svg class="olymp-little-delete"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
				</div>
			</li>

			<li class="with-comment-photo">
				<div class="author-thumb">
					<img src="img/avatar64-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<div><a href="#" class="h6 notification-friend">Sarah Hetfield</a> commented on your <a href="#" class="notification-link">photo</a>.</div>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 5:32am</time></span>
				</div>
				<span class="notification-icon">
										<svg class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
									</span>

				<div class="comment-photo">
					<img src="img/comment-photo1.jpg" alt="photo">
					<span>“She looks incredible in that outfit! We should see each...”</span>
				</div>

				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
					<svg class="olymp-little-delete"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
				</div>
			</li>

			<li>
				<div class="author-thumb">
					<img src="img/avatar65-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<div><a href="#" class="h6 notification-friend">Green Goo Rock</a> invited you to attend to his event Goo in <a href="#" class="notification-link">Gotham Bar</a>.</div>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 5th at 6:43pm</time></span>
				</div>
				<span class="notification-icon">
										<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
									</span>

				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
					<svg class="olymp-little-delete"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
				</div>
			</li>

			<li>
				<div class="author-thumb">
					<img src="img/avatar66-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<div><a href="#" class="h6 notification-friend">James Summers</a> commented on your new <a href="#" class="notification-link">profile status</a>.</div>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 2nd at 8:29pm</time></span>
				</div>
				<span class="notification-icon">
										<svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
									</span>

				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
					<svg class="olymp-little-delete"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
				</div>
			</li>
		</ul>


		<a href="#" class="view-all bg-primary">View All Notifications</a>

	</div>

</div>

<!-- ... end  Tab panes -->
