<!-- Profile Settings Responsive -->

<div id="responsive-container-panel" class="profile-settings-responsive">

	<a href="#" class="js-profile-settings-open profile-settings-open">
		<i class="fa fa-angle-right" aria-hidden="true"></i>
		<i class="fa fa-angle-left" aria-hidden="true"></i>
	</a>
	<div class="mCustomScrollbar" data-mcs-theme="dark">
		<div class="ui-block">

		</div>
	</div>
</div>

<!-- ... end Profile Settings Responsive -->
