

<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header top-header-favorit">
					<div class="top-header-thumb">
						<img src="img/top-header2.jpg" alt="nature">
						<div class="top-header-author">
							<div class="author-thumb">
								<img src="img/author-main2.jpg" alt="author">
							</div>
							<div class="author-content">
								<a href="#" class="h3 author-name">Green Goo Rock</a>
								<div class="country">Rock Band  |  San Francisco, CA</div>
							</div>
						</div>
					</div>
					<div class="profile-section with-social-menu-tabs">
						<div class="row">
							<div class="col col-xl-8 m-auto col-lg-8 col-md-12">
								<ul class="nav nav-tabs social-menu-tabs" role="tablist">

									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#home" role="tab">
											<svg class="olymp-home-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-home-icon"></use></svg>
											Home
										</a>
									</li>

									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#about" role="tab">
											<svg class="olymp-info-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-info-icon"></use></svg>
											About
										</a>
									</li>

									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#statistics" role="tab">
											<svg class="olymp-stats-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-stats-icon"></use></svg>
											Statistics
										</a>
									</li>

									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#events" role="tab">
											<svg class="olymp-thunder-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>
											Events
										</a>
									</li>

								</ul>
							</div>
						</div>

						<div class="control-block-button">
							<a href="#" class="btn btn-control bg-primary">
								<svg class="olymp-star-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
							</a>

							<a href="#" class="btn btn-control bg-purple">
								<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

