<!-- Your Profile  -->

<div id="profile-panel" class="your-profile">
	<div class="ui-block-title ui-block-title-small">
		<h6 class="title">Your PROFILE</h6>
	</div>

	<div id="accordion" role="tablist" aria-multiselectable="true">
		<div class="card">
			<div class="card-header" role="tab" id="headingOne">
				<h6 class="mb-0">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Profile Settings
						<svg class="olymp-dropdown-arrow-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
					</a>
				</h6>
			</div>

			<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
				<ul class="nav nav-tabs your-profile-menu" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true">Personal Information</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="false">Account Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="false">Change Password</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="hobbies-tab" data-toggle="tab" href="#hobbies" role="tab" aria-controls="hobbies" aria-selected="false">Hobbies and Interests</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="false">Education and Employement</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<ul class="nav nav-tabs your-profile-menu main" id="myTab1" role="tablist">
		<li class="nav-item">
			<a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab" aria-controls="notifications" aria-selected="false">
				<div class="ui-block-title">
					<div class="h6 title">Notifications</div>
					<div class="items-round-little bg-primary">8</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="chat-message-tab" data-toggle="tab" href="#chat-message" role="tab" aria-controls="chat-message" aria-selected="false">
				<div class="ui-block-title">
					<div class="h6 title">Chat / Messages</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="friend-tab" data-toggle="tab" href="#friend" role="tab" aria-controls="friend" aria-selected="false">
				<div class="ui-block-title">
					<div class="h6 title">Friend Requests</div>
					<div class="items-round-little bg-blue">4</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<div class="ui-block-title ui-block-title-small">
				<h6 class="title">FAVOURITE PAGE</h6>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="create-fav-tab" data-toggle="tab" href="#create-fav" role="tab" aria-controls="create-fav" aria-selected="false">
				<div class="ui-block-title">
					<div class="h6 title">Create Fav Page</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="settings-fav-tab" data-toggle="tab" href="#settings-fav" role="tab" aria-controls="settings-fav" aria-selected="false">
				<div class="ui-block-title">
					<div class="h6 title">Fav Page Settings</div>
				</div>
			</a>
		</li>
	</ul>
</div>

<!-- ... end Your Profile  -->

