

<!-- Birthday Item -->

<div class="birthday-item inline-items">
	<div class="author-thumb">
		<img src="img/avatar22-sm.jpg" alt="author">
	</div>
	<div class="birthday-author-name">
		<a href="#" class="h6 author-name">Dave Marinara</a>
		<div class="birthday-date">February 12th, 1980</div>
	</div>
	<a href="20-CalendarAndEvents-MonthlyCalendar.html" class="btn btn-sm bg-blue">Create Event</a>
</div>

<!-- ... end Birthday Item -->

