
<!-- Clients Block -->

<section class="crumina-module crumina-clients">
	<div class="container">
		<div class="row">
			<div class="col col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-6">
				<a class="clients-item" href="#">
					<img src="img/client1.png" class="" alt="logo">
				</a>
			</div>
			<div class="col col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-6">
				<a class="clients-item" href="#">
					<img src="img/client2.png" class="" alt="logo">
				</a>
			</div>
			<div class="col col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-6">
				<a class="clients-item" href="#">
					<img src="img/client3.png" class="" alt="logo">
				</a>
			</div>
			<div class="col col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-6">
				<a class="clients-item" href="#">
					<img src="img/client4.png" class="" alt="logo">
				</a>
			</div>
			<div class="col col-xl-2 m-auto col-lg-2 col-md-6 col-sm-6 col-6">
				<a class="clients-item" href="#">
					<img src="img/client5.png" class="" alt="logo">
				</a>
			</div>
		</div>
	</div>
</section>

<!-- ... end Clients Block -->
