
<!-- Block Action  -->

<div class="container mb60">
	<div class="block-action bg-section4 background-cover">
		<div class="row">
			<div class="col col-xl-5 col-lg-12 col-md-12 col-sm-12  mr-auto">
				<div class="crumina-module crumina-heading custom-color c-white mb-0">
					<h2 class="heading-title">Do you wanna join our team?</h2>
					<p class="heading-text"><a href="#">Click here</a> to check out all of our available positions. If you don’t see
						anything that fits you, keep an eye open!
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... Block Action -->
