
<div class="ui-block video-item">
	<div class="video-player">
		<img src="img/video13.jpg" alt="photo">
		<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video play-video--small">
			<svg class="olymp-play-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-play-icon"></use></svg>
		</a>
		<div class="overlay overlay-dark"></div>

		<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></div>
	</div>

	<div class="ui-block-content video-content">
		<a href="#" class="h6 title">The Best Burgers in the State!</a>
		<time class="published" datetime="2017-03-24T18:18">0:23</time>
	</div>
</div>
