<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moti.mapper.AdminMapper">

    <!--开启二级缓存,使用Ehcache缓存框架-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <!--admin的映射结果集-->
    <resultMap type="com.moti.entity.Admin" id="AdminMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="openId" column="open_id" jdbcType="VARCHAR"/>
        <result property="img" column="img" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="qq" column="qq" jdbcType="VARCHAR"/>
        <result property="wechat" column="wechat" jdbcType="VARCHAR"/>
        <result property="publicWechat" column="public_wechat" jdbcType="VARCHAR"/>
        <result property="career" column="career" jdbcType="VARCHAR"/>
        <result property="info" column="info" jdbcType="VARCHAR"/>
        <result property="recentLogin" column="recent_login" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个admin-->
    <select id="queryById" resultMap="AdminMap">
        select id, open_id, img, name, password, salt, sex, birthday, address, email, phone, qq, wechat, public_wechat, career, info, recent_login from admin where id = #{id}
    </select>

    <!--通过主键修改数据-->
    <update id="update">
        update admin
        <set>
            <if test="openId != null and openId != ''">
                open_id = #{openId},
            </if>
            <if test="img != null and img != ''">
                img = #{img},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="qq != null and qq != ''">
                qq = #{qq},
            </if>
            <if test="wechat != null and wechat != ''">
                wechat = #{wechat},
            </if>
            <if test="publicWechat != null and publicWechat != ''">
                public_wechat = #{publicWechat},
            </if>
            <if test="career != null and career != ''">
                career = #{career},
            </if>
            <if test="info != null and info != ''">
                info = #{info},
            </if>
            <if test="recentLogin != null">
                recent_login = #{recentLogin},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>