
<!-- Forums Table -->

<table class="forums-table">

	<thead>

	<tr>

		<th class="forum">
			Forum
		</th>

		<th class="topics">
			Topics
		</th>

		<th class="posts">
			Posts
		</th>

		<th class="freshness">
			Freshness
		</th>

	</tr>

	</thead>

	<tbody>
	<tr>
		<td class="forum">
			<div class="forum-item">
				<img src="img/forum1.png" alt="forum">
				<div class="content">
					<a href="#" class="h6 title">The Community</a>
					<p class="text">Talk about dinner parties, reunions and more!</p>
				</div>
			</div>
		</td>
		<td class="topics">
			<a href="#" class="h6 count">3</a>
		</td>
		<td class="posts">
			<a href="#" class="h6 count">10</a>
		</td>
		<td class="freshness">
			<div class="author-freshness">
				<div class="author-thumb">
					<img src="img/avatar10-sm.jpg" alt="author">
				</div>
				<a href="#" class="h6 title">Elaine Dreyfuss</a>
				<time class="entry-date updated" datetime="2017-06-24T18:18">13 hours, 58 minutes ago</time>
			</div>
		</td>
	</tr>

	<tr>
		<td class="forum">
			<div class="forum-item">
				<img src="img/forum2.png" alt="forum">
				<div class="content">
					<a href="#" class="h6 title">Video Shack</a>
					<p class="text">All related to your favourite movies and tv shows!</p>
				</div>
			</div>
		</td>
		<td class="topics">
			<a href="#" class="h6 count">14</a>
		</td>
		<td class="posts">
			<a href="#" class="h6 count">68</a>
		</td>
		<td class="freshness">
			<div class="author-freshness">
				<div class="author-thumb">
					<img src="img/avatar51-sm.jpg" alt="author">
				</div>
				<a href="#" class="h6 title">Nicholas Grissom</a>
				<time class="entry-date updated" datetime="2017-06-24T18:18">2 hours, 7 minutes ago</time>
			</div>
		</td>
	</tr>

	<tr>
		<td class="forum">
			<div class="forum-item">
				<img src="img/forum3.png" alt="forum">
				<div class="content">
					<a href="#" class="h6 title">The Robot’s Dungeon</a>
					<p class="text">Comics, Anime and all your geeky needs!</p>
					<ul class="sub-forums">
						<li>
							<a href="#" class="h6">Comics</a>
						</li>
						<li>
							<a href="#" class="h6">Anime & Manga</a>
						</li>
					</ul>
				</div>
			</div>
		</td>
		<td class="topics">
			<a href="#" class="h6 count">58</a>
		</td>
		<td class="posts">
			<a href="#" class="h6 count">107</a>
		</td>
		<td class="freshness">
			<div class="author-freshness">
				<div class="author-thumb">
					<img src="img/avatar48-sm.jpg" alt="author">
				</div>
				<a href="#" class="h6 title">Marina Valentine</a>
				<time class="entry-date updated" datetime="2017-06-24T18:18">42 minutes ago</time>
			</div>
		</td>
	</tr>

	<tr>
		<td class="forum">
			<div class="forum-item">
				<img src="img/forum4.png" alt="forum">
				<div class="content">
					<a href="#" class="h6 title">Arcade Planet</a>
					<p class="text">The latest about all gaming news and events!</p>
				</div>
			</div>
		</td>
		<td class="topics">
			<a href="#" class="h6 count">32</a>
		</td>
		<td class="posts">
			<a href="#" class="h6 count">49</a>
		</td>
		<td class="freshness">
			<div class="author-freshness">
				<div class="author-thumb">
					<img src="img/avatar39-sm.jpg" alt="author">
				</div>
				<a href="#" class="h6 title">Chris Greyson</a>
				<time class="entry-date updated" datetime="2017-06-24T18:18">1 hour, 20 minutes ago</time>
			</div>
		</td>
	</tr>

	<tr>
		<td class="forum">
			<div class="forum-item">
				<img src="img/forum5.png" alt="forum">
				<div class="content">
					<a href="#" class="h6 title">The Boombox</a>
					<p class="text">Talk about the best music in the world!</p>
				</div>
			</div>
		</td>
		<td class="topics">
			<a href="#" class="h6 count">60</a>
		</td>
		<td class="posts">
			<a href="#" class="h6 count">129</a>
		</td>
		<td class="freshness">
			<div class="author-freshness">
				<div class="author-thumb">
					<img src="img/avatar52-sm.jpg" alt="author">
				</div>
				<a href="#" class="h6 title">Green Goo Rock</a>
				<time class="entry-date updated" datetime="2017-06-24T18:18">5 minutes ago</time>
			</div>
		</td>
	</tr>

	<tr>
		<td class="forum">
			<div class="forum-item">
				<img src="img/forum6.png" alt="forum">
				<div class="content">
					<a href="#" class="h6 title">Around the World</a>
					<p class="text">Start topics in your native language and have fun!</p>
				</div>
			</div>
		</td>
		<td class="topics">
			<a href="#" class="h6 count">12</a>
		</td>
		<td class="posts">
			<a href="#" class="h6 count">18</a>
		</td>
		<td class="freshness">
			<div class="author-freshness">
				<div class="author-thumb">
					<img src="img/avatar40-sm.jpg" alt="author">
				</div>
				<a href="#" class="h6 title">Mathilda Brinker</a>
				<time class="entry-date updated" datetime="2017-06-24T18:18">4 months, 12 hours ago</time>
			</div>
		</td>
	</tr>

	</tbody>
</table>

<!-- ... end Forums Table -->