
<table class="event-item-table">
	<tbody>
	<tr class="event-item">

		<td class="upcoming">
			<div class="date-event">

				<svg class="olymp-small-calendar-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-small-calendar-icon"></use></svg>

				<span class="day">28</span>
				<span class="month">may</span>
			</div>
		</td>
		<td class="author">
			<div class="event-author inline-items">
				<div class="author-thumb">
					<img src="img/avatar66-sm.jpg" alt="author">
				</div>
				<div class="author-date">
					<a href="#" class="author-name h6">Green Goo in Gotham</a>
					<time class="published" datetime="2017-03-24T18:18">Saturday at 9:00pm</time>
				</div>
			</div>
		</td>
		<td class="location">
			<div class="place inline-items">
				<svg class="olymp-add-a-place-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use></svg>
				<span>Gotham Bar</span>
			</div>
		</td>
		<td class="description">
			<p class="description">We’ll be playing in the Gotham Bar in May. Come and have a great time with us! Entry: $12</p>
		</td>
		<td class="users">
			<ul class="friends-harmonic">
				<li>
					<a href="#">
						<img src="img/friend-harmonic5.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic10.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic7.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic8.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic2.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#" class="all-users bg-breez">+24</a>
				</li>

				<li class="with-text">
					Will Assist
				</li>
			</ul>
		</td>
		<td class="add-event">
			<a href="20-CalendarAndEvents-MonthlyCalendar.html" class="btn btn-breez btn-sm">Add to Calendar</a>
		</td>

	</tr>
	</tbody>
</table>
