
<!-- Full Calendar -->

<div id="calendar" class="crumina-full-calendar">

	<div class="ui-block-title ui-block-title-small">
		<h6 class="title">WEDNESDAY, MARCH 30</h6>
	</div>

	<div class="today-events calendar">
		<div class="list">

			<div class="control-block-button">

				<a href="#" class="btn btn-control bg-breez" data-toggle="modal" data-target="#create-event">
					<svg class="olymp-plus-icon">
						<use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use>
					</svg>
				</a>

			</div>

			<div id="accordion-3" aria-multiselectable="true" class="day-event">

				<div class="card">
					<div class="card-header" id="headingOne-3">
						<div class="event-time">
							<time class="published" datetime="2017-03-24T18:18">10:50am</time>
							<div class="more">
								<svg class="olymp-three-dots-icon">
									<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="#">Mark as Completed</a>
									</li>
									<li>
										<a href="#">Delete Event</a>
									</li>
								</ul>
							</div>
						</div>
						<h5 class="mb-0 title">
							<a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Videocall to talk with the agency’s new client<i class="fa fa-angle-down" aria-hidden="true"></i>
								<span class="event-status-icon" data-toggle="modal" data-target="#public-event">
																														<svg class="olymp-calendar-icon" data-toggle="tooltip" data-placement="top" data-original-title="UNCOMPLETED"><use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
																													</span>
							</a>
						</h5>
					</div>

					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#headingOne-3">
						<div class="card-body">
							I have to remeber to be a little earlier at the agency to discuss with the guys all the questions we have for our new client and to show them the new logo.
						</div>
						<div class="place inline-items">
							<svg class="olymp-add-a-place-icon">
								<use xlink:href="svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use>
							</svg>
							<span>Daydreamz Agency</span>
						</div>

					</div>
				</div>

				<div class="card">
					<div class="card-header" id="headingThree-3">
						<div class="event-time">
							<time class="published" datetime="2017-03-24T18:18">10:50am</time>
							<div class="more">
								<svg class="olymp-three-dots-icon">
									<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="#">Mark as Completed</a>
									</li>
									<li>
										<a href="#">Delete Event</a>
									</li>
								</ul>
							</div>
						</div>
						<h5 class="mb-0 title">
							<a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree-3" aria-expanded="false" aria-controls="collapseThree-3">
								Jenny’s Birthday Party<i class="fa fa-angle-down" aria-hidden="true"></i>
								<span class="event-status-icon" data-toggle="modal" data-target="#private-event">
																														<svg class="olymp-calendar-icon" data-toggle="tooltip" data-placement="top" data-original-title="UNCOMPLETED"><use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
																													</span>
							</a>
						</h5>
					</div>
					<div id="collapseThree-3" class="collapse" aria-labelledby="headingThree" data-parent="#headingOne-3">
						<div class="card-body">
							Hi Guys! I propose to go a litle earlier at the agency to have breakfast and talk a little more about the new design project we have been working on. Cheers!
						</div>
						<div class="place inline-items">
							<svg class="olymp-add-a-place-icon">
								<use xlink:href="svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use>
							</svg>
							<span>Daydreamz Agency</span>
						</div>

						<ul class="friends-harmonic inline-items">
							<li>
								<a href="#">
									<img src="img/friend-harmonic5.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic10.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic7.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic8.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/friend-harmonic2.jpg" alt="friend">
								</a>
							</li>
							<li class="with-text">
								Will Assist
							</li>
						</ul>
					</div>
				</div>

			</div>

		</div>
	</div>

</div>

<!-- ... end Full Calendar -->