
<!-- Comments -->

<ul class="comments-list">
	<li class="comment-item">
		<div class="post__author author vcard inline-items">
			<img src="img/avatar10-sm.jpg" alt="author">

			<div class="author-date">
				<a class="h6 post__author-name fn" href="#">Elaine Dreyfuss</a>
				<div class="post__date">
					<time class="published" datetime="2017-03-24T18:18">
						5 mins ago
					</time>
				</div>
			</div>

			<a href="#" class="more">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
			</a>

		</div>

		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>

		<a href="#" class="post-add-icon inline-items">
			<svg class="olymp-heart-icon">
				<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
			</svg>
			<span>8</span>
		</a>
		<a href="#" class="reply">Reply</a>
	</li>
	<li class="comment-item has-children">
		<div class="post__author author vcard inline-items">
			<img src="img/avatar5-sm.jpg" alt="author">

			<div class="author-date">
				<a class="h6 post__author-name fn" href="#">Green Goo Rock</a>
				<div class="post__date">
					<time class="published" datetime="2017-03-24T18:18">
						1 hour ago
					</time>
				</div>
			</div>

			<a href="#" class="more">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
			</a>

		</div>

		<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugiten, sed quia
			consequuntur magni dolores eos qui ratione voluptatem sequi en lod nesciunt. Neque porro
			quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit en lorem ipsum der.
		</p>

		<a href="#" class="post-add-icon inline-items">
			<svg class="olymp-heart-icon">
				<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
			</svg>
			<span>5</span>
		</a>
		<a href="#" class="reply">Reply</a>

		<ul class="children">
			<li class="comment-item">
				<div class="post__author author vcard inline-items">
					<img src="img/avatar8-sm.jpg" alt="author">

					<div class="author-date">
						<a class="h6 post__author-name fn" href="#">Diana Jameson</a>
						<div class="post__date">
							<time class="published" datetime="2017-03-24T18:18">
								39 mins ago
							</time>
						</div>
					</div>

					<a href="#" class="more">
						<svg class="olymp-three-dots-icon">
							<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
						</svg>
					</a>

				</div>

				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-heart-icon">
						<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
					</svg>
					<span>2</span>
				</a>
				<a href="#" class="reply">Reply</a>
			</li>
			<li class="comment-item">
				<div class="post__author author vcard inline-items">
					<img src="img/avatar2-sm.jpg" alt="author">

					<div class="author-date">
						<a class="h6 post__author-name fn" href="#">Nicholas Grisom</a>
						<div class="post__date">
							<time class="published" datetime="2017-03-24T18:18">
								24 mins ago
							</time>
						</div>
					</div>

					<a href="#" class="more">
						<svg class="olymp-three-dots-icon">
							<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
						</svg>
					</a>

				</div>

				<p>Excepteur sint occaecat cupidatat non proident.</p>

				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-heart-icon">
						<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
					</svg>
					<span>0</span>
				</a>
				<a href="#" class="reply">Reply</a>

			</li>
		</ul>

	</li>

	<li class="comment-item">
		<div class="post__author author vcard inline-items">
			<img src="img/avatar4-sm.jpg" alt="author">

			<div class="author-date">
				<a class="h6 post__author-name fn" href="#">Chris Greyson</a>
				<div class="post__date">
					<time class="published" datetime="2017-03-24T18:18">
						1 hour ago
					</time>
				</div>
			</div>

			<a href="#" class="more">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
			</a>

		</div>

		<p>Dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>

		<a href="#" class="post-add-icon inline-items">
			<svg class="olymp-heart-icon">
				<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
			</svg>
			<span>7</span>
		</a>
		<a href="#" class="reply">Reply</a>

	</li>
</ul>

<!-- ... end Comments -->
