
<!-- Comments -->

<ul class="comments-list style-3">
	<li class="comment-item">
		<div class="post__author-thumb">
			<img src="img/avatar1.jpg" alt="author">
		</div>

		<div class="comments-content">
			<div class="post__author author vcard">

				<div class="author-date">
					<a class="h6 post__author-name fn" href="#">Nicholas Grissom</a>
					<div class="post__date">
						<time class="published" datetime="2004-07-24T18:18">
							27 mins ago
						</time>
					</div>
				</div>

			</div>

			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>

			<a href="#" class="reply">Reply</a>
			<a href="#" class="report">Report</a>
		</div>

	</li>
	<li class="comment-item">
		<div class="post__author-thumb">
			<img src="img/avatar2.jpg" alt="author">
		</div>

		<div class="comments-content">
			<div class="post__author author vcard">

				<div class="author-date">
					<a class="h6 post__author-name fn" href="#">Marina Valentine</a>
					<div class="post__date">
						<time class="published" datetime="2004-07-24T18:18">
							4 hours ago
						</time>
					</div>
				</div>

			</div>

			<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
				consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Sed ut perspiciatis
				unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
				aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
				dicta sunt explicabo.
			</p>

			<a href="#" class="reply">Reply</a>
			<a href="#" class="report">Report</a>
		</div>
	</li>
	<li class="comment-item has-children">
		<div class="post__author-thumb">
			<img src="img/avatar3.jpg" alt="author">
		</div>

		<div class="comments-content">
			<div class="post__author author vcard">

				<div class="author-date">
					<a class="h6 post__author-name fn" href="#">Mathilda Brinker</a>
					<div class="post__date">
						<time class="published" datetime="2004-07-24T18:18">
							12 hours ago
						</time>
					</div>
				</div>

			</div>

			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
				laudantium, totame rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.
			</p>

			<a href="#" class="reply">Reply</a>
			<a href="#" class="report">Report</a>
		</div>

		<ul class="children">
			<li class="comment-item">
				<div class="post__author-thumb">
					<img src="img/avatar4.jpg" alt="author">
				</div>

				<div class="comments-content">
					<div class="post__author author vcard">

						<div class="author-date">
							<a class="h6 post__author-name fn" href="#">James Spiegel</a>
							<div class="post__date">
								<time class="published" datetime="2004-07-24T18:18">
									20 hours ago
								</time>
							</div>
						</div>

					</div>

					<p>Consectadipisicing elit, sed do eiusmod por incidid ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud lorem exercitation ullamco laboris.
					</p>

					<a href="#" class="reply">Reply</a>
					<a href="#" class="report">Report</a>
				</div>
			</li>
		</ul>
	</li>
	<li class="comment-item">
		<div class="post__author-thumb">
			<img src="img/avatar5.jpg" alt="author">
		</div>

		<div class="comments-content">
			<div class="post__author author vcard">

				<div class="author-date">
					<a class="h6 post__author-name fn" href="#">Elaine Dreyfuss</a>
					<div class="post__date">
						<time class="published" datetime="2004-07-24T18:18">
							38 mins ago
						</time>
					</div>
				</div>

			</div>

			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>

			<a href="#" class="reply">Reply</a>
			<a href="#" class="report">Report</a>
		</div>
	</li>
</ul>

<!-- ... end Comments -->