
<!-- Form Billing Details -->

<form class="mb60">
	<div class="crumina-module crumina-heading with-title-decoration">
		<h5 class="heading-title">Billing Details</h5>
	</div>

	<div class="row">
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label">First Name</label>
				<input class="form-control" type="text" placeholder="" value="James" required>
				<div class="invalid-feedback">
					<div class="error-box">
						<div class="danger"><svg class="olymp-little-delete"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg></div>
						<h5 class="title">Error Box</h5>
						<p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et lorem.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label">Last Name</label>
				<input class="form-control" type="text" placeholder="" value="Spiegel" required>
			</div>
		</div>

		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label">Email</label>
				<input class="form-control" type="email" placeholder="" value="jspiegel@yourmail.com" required>
				<div class="invalid-feedback">
					<div class="error-box">
						<div class="danger"><svg class="olymp-little-delete"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg></div>
						<h5 class="title">Error Box</h5>
						<p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et lorem.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="form-group">
				<input class="form-control" type="tel" placeholder="Phone Number" required>
				<div class="invalid-feedback">
					<div class="error-box">
						<div class="danger"><svg class="olymp-little-delete"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg></div>
						<h5 class="title">Error Box</h5>
						<p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et lorem.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label">Select your Country</label>
				<select class="selectpicker form-control">
					<option value="US">United States</option>
					<option value="AR">Argentina</option>
				</select>
			</div>
		</div>
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label">Select Your State</label>
				<select class="selectpicker form-control">
					<option value="CA">California</option>
					<option value="AR">Arizona</option>
				</select>
			</div>
		</div>
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="form-group">
				<input class="form-control" placeholder="Zip Code" type="text" required>
			</div>
		</div>

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Your Address" required>
			</div>

			<div class="form-group">
				<input class="form-control" type="text" placeholder="Apartment Number / Suite" required>
			</div>

			<div class="checkbox">
				<label>
					<input type="checkbox" name="optionsCheckboxes" checked>
					Ship to a differnt address
				</label>
			</div>
		</div>
	</div>
</form>

<!-- ... end Form Billing Details -->