
<!-- Form Shiping Details -->

<form>
	<div class="crumina-module crumina-heading with-title-decoration">
		<h5 class="heading-title">Shipping Details</h5>
	</div>

	<div class="row">
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label">First Name</label>
				<input class="form-control" type="text" placeholder="" value="James">
			</div>
		</div>
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label">Last Name</label>
				<input class="form-control" type="text" placeholder="" value="Spiegel">
			</div>
		</div>

		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label">Email</label>
				<input class="form-control" type="email" placeholder="" value="jspiegel@yourmail.com">
			</div>
		</div>
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="form-group">
				<input class="form-control" type="tel" placeholder="Phone Number">
			</div>
		</div>

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label">Select your Country</label>
				<select class="selectpicker form-control">
					<option value="US">United States</option>
					<option value="AR">Argentina</option>
				</select>
			</div>
		</div>
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label">Select Your State</label>
				<select class="selectpicker form-control">
					<option value="CA">California</option>
					<option value="AR">Arizona</option>
				</select>
			</div>
		</div>
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="form-group">
				<input class="form-control" placeholder="Zip Code" type="text">
			</div>
		</div>

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Your Address">
			</div>

			<div class="form-group">
				<input class="form-control" type="text" placeholder="Apartment Number / Suite">
			</div>

			<div class="form-group label-floating">
				<label class="control-label">Shipping Notes</label>
				<textarea class="form-control" placeholder="">Please remember to ring the red doorbell when delivering the package</textarea>
			</div>
		</div>
	</div>
</form>

<!-- ... end Form Shiping Details -->
