
<!-- Form Calculate Shiping -->

<form>
	<div class="crumina-module crumina-heading with-title-decoration">
		<h5 class="heading-title">Calculate Shipping</h5>
	</div>
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label">Select your Country</label>
				<select class="selectpicker form-control">
					<option value="US">United States</option>
					<option value="AR">Argentina</option>
				</select>
			</div>
		</div>
		<div class="col col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label">Select Your State</label>
				<select class="selectpicker form-control">
					<option value="CA">California</option>
					<option value="AR">Arizona</option>
				</select>
			</div>
		</div>
		<div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
			<div class="form-group">
				<input class="form-control" placeholder="Zip Code" type="text">
			</div>
		</div>
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<button class="btn btn-blue btn-lg full-width">Calculate Shipping</button>
		</div>
	</div>
</form>

<!-- ... end Form Calculate Shiping -->