
<!-- Order Totals List -->

<ul class="order-totals-list">
	<li>
		Cart Subtotal <span>$80</span>
	</li>
	<li>
		Shipping & Handling  <span>$20</span>
	</li>
	<li>
		Coupon / Discount <span>-$5</span>
	</li>
	<li class="total">
		Order Total <span>$95</span>
	</li>
</ul>

<!-- ... end Order Totals List -->
