
<!-- Payment Methods List -->

<ul class="payment-methods-list">
	<li>
		<div class="radio">
			<label>
				<input type="radio" name="optionsRadios" checked>
				Direct Bank Transfer
			</label>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod tempor incididunt ut la etere dolore magna aliqua.</p>
	</li>
	<li>
		<div class="radio">
			<label>
				<input type="radio" name="optionsRadios">
				Cheque Payment
			</label>
		</div>
	</li>
	<li>
		<div class="radio">
			<label>
				<input type="radio" name="optionsRadios">
				Paypal
			</label>
		</div>
	</li>
</ul>

<!-- ... end Payment Methods List -->
