
<!-- Product Description -->

<div class="product-description">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#additional" role="tab">
				Additional Description
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#rewievs" role="tab">
				Customer Reviews
				<span class="total-topic">3</span>
			</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active align-center" id="additional" role="tabpanel" data-mh="log-tab">
			<h2 class="title">The Best Camping Mug!</h2>
			<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
				sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
				voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
				laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
				qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
				fugiat quo voluptas nulla pariatur?
			</p>

			<p>
				Duis en aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
				deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
				voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
				inventore veritatis et quasi hitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
				voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
				dolores eos qui ratione voluptatem sequi nesciunt Sed ut perspiciatis unde omnis
				iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
				eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
				explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
				quia consequuntur magni dolores.
			</p>
		</div>

		<div class="tab-pane" id="rewievs" role="tabpanel" data-mh="log-tab">

			<div class="comments-title-wrap">
				<div class="block-title">
					<h2 class="title">3 Reviews</h2>
					<ul class="rait-stars">
						<li>
							<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
						</li>
						<li>
							<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
						</li>

						<li>
							<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
						</li>
						<li>
							<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
						</li>
						<li>
							<i class="far fa-star star-icon" aria-hidden="true"></i>
						</li>
						<li class="numerical-rating">4.3 / 5</li>
					</ul>
				</div>

				<a href="#" class="btn btn-primary btn-md" data-toggle="modal" data-target="#popup-write-rewiev">Write a Review</a>

			</div>

			<ul class="comments__list-review">

				<li class="comments__item-review">

					<div class="comment-entry comment comments__article">

						<div class="comments__body ovh">

							<h5 class="title">Really Great for Camping</h5>

							<ul class="rait-stars">
								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>

								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>
								<li>
									<i class="far fa-star star-icon" aria-hidden="true"></i>
								</li>

							</ul>

							<div class="comment-content comment">
								Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
								fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
								sequi nesciunt. Sed ut perspiciatis unde omnis iste natus error sit
								voluptatem accusantium ntium, totam rem aperiam, eaque ipsa quae ab illo
								inventore veritatis et quasi architecto.
							</div>

							<header class="comment-meta comments__header-review">


								<time class="published comments__time-review" datetime="2017-10-02 12:00:00">4 hours ago by</time>


								<cite class="fn url comments__author-review">
									<a href="#" rel="external" class=" ">Nicholas Grissom</a>
								</cite>

							</header>


						</div>

					</div>
				</li>

				<li class="comments__item-review">

					<div class="comment-entry comment comments__article">

						<div class="comments__body ovh">

							<h5 class="title">The Best Mug I’ve ever Bought!!</h5>

							<ul class="rait-stars">
								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>

								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>

							</ul>

							<div class="comment-content comment">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor labore eter dolore magna aliqua. Ut enim ad minim veniam, quis
								nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							</div>

							<header class="comment-meta comments__header-review">


								<time class="published comments__time-review" datetime="2017-10-02 12:00:00">12 hours ago by</time>


								<cite class="fn url comments__author-review">
									<a href="#" rel="external" class=" ">Marina Valentine</a>
								</cite>

							</header>


						</div>

					</div>
				</li>

				<li class="comments__item-review">

					<div class="comment-entry comment comments__article">

						<div class="comments__body ovh">

							<h5 class="title">Really Cool Design</h5>

							<ul class="rait-stars">
								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>

								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>
								<li>
									<i class="far fa-star star-icon" aria-hidden="true"></i>
								</li>

							</ul>

							<div class="comment-content comment">
								Duis aute irure dolor in reprehenderit  voluptate velit esse cillum
								dolore. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
								aut fugit, sed quia consequuntur magni dolores eos qui ratione.
							</div>

							<header class="comment-meta comments__header-review">


								<time class="published comments__time-review" datetime="2017-10-02 12:00:00">2 days ago by</time>


								<cite class="fn url comments__author-review">
									<a href="#" rel="external">Jack Stevens</a>
								</cite>

							</header>


						</div>

					</div>
				</li>

			</ul>
		</div>
	</div>

</div>

<!-- ... end Product Description -->
