
<!-- Shop Product Detail -->

<div class="shop-product-detail">
	<div class="container">
		<div class="row">
			<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
				<div class="thumbs-wrap">
					<div class="small-thumbs-wrap js-zoom-gallery">
						<a href="img/product-small1.png" class="small-thumb">
							<img src="img/product-small1.png" alt="product">
						</a>
						<a href="img/product-small2.png" class="small-thumb">
							<img src="img/product-small2.png" alt="product">
						</a>
					</div>

					<div class="shop-product-detail-thumb">
						<img class="main-img" alt="product" src="img/product3.png">
					</div>
				</div>
			</div>
			<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
				<div class="shop-product-detail-content">
					<div class="main-content-wrap">
						<div class="block-title">
							<a href="#" class="product-category">COFFEE MUGS</a>
							<h2 class="title bold">White Enamel Mug</h2>
							<ul class="rait-stars">
								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>

								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
								</li>
								<li>
									<i class="far fa-star star-icon" aria-hidden="true"></i>
								</li>
							</ul>
						</div>

						<div class="block-price">
							<div class="product-price">$20</div>
						</div>
					</div>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor labore eter
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
						ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit  voluptate velit
						esse cillum dolore.
					</p>

					<div class="inputs-wrap">

						<div class="form-group label-floating quantity">
							<label class="control-label">Quantity</label>
							<a href="#" class="quantity-minus">&#8744;</a>
							<input title="Qty" class="form-control" value="2" type="text">
							<a href="#" class="quantity-plus">&#8743;</a>
						</div>

						<div class="form-group label-floating is-select">
							<label class="control-label">Select Size</label>
							<select class="selectpicker form-control">
								<option value="SM">Small Mug (2,5’’ High)</option>
								<option value="BI">Big Mug (3,5’’ High)</option>
							</select>
						</div>

					</div>

					<a href="#" class="btn btn-blue btn-md with--icon">
						<svg class="olymp-shopping-bag-icon icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"></use></svg>
						<div class="text">
							<span class="title">Add to Cart</span>
						</div>
					</a>

					<ul class="tags">
						<li>
							Tags:
						</li>
						<li>
							<a class="tags-item" href="#">Enamel,</a>
						</li>
						<li>
							<a class="tags-item" href="#">Coffee,</a>
						</li>
						<li>
							<a class="tags-item" href="#">Mugs,</a>
						</li>
						<li>
							<a class="tags-item" href="#">White</a>
						</li>
					</ul>

					<div class="article-number">
						SKU:<span>ASF55GX</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Shop Product Detail -->
