
<!-- Shop Table Cart -->

<table class="shop_table cart">
	<thead>
	<tr>
		<th class="product-thumbnail">ITEM DESCRIPTION</th>
		<th class="product-price">UNIT PRICE</th>
		<th class="product-quantity">QUANTITY</th>
		<th class="product-subtotal">TOTAL</th>
		<th class="product-remove">REMOVE</th>
	</tr>
	</thead>
	<tbody>
	<tr class="cart_item">

		<td class="product-thumbnail">

			<div class="cart-product__item">
				<a href="img/product-small1.png" class="product-thumb js-zoom-image">
					<img src="img/product-small1.png" alt="product" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image">
				</a>
				<div class="cart-product-content">
					<a href="#" class="product-category">COFFEE MUGS</a>
					<a href="#" class="h6 cart-product-title">White Enamel Mug</a>
					<ul class="rait-stars">
						<li>
							<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
						</li>
						<li>
							<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
						</li>

						<li>
							<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
						</li>
						<li>
							<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
						</li>
						<li>
							<i class="far fa-star star-icon" aria-hidden="true"></i>
						</li>
					</ul>
				</div>
			</div>
		</td>

		<td class="product-price">
			<h6 class="price amount">$20</h6>
		</td>

		<td class="product-quantity">

			<div class="form-group label-floating quantity">
				<label class="control-label">Quantity</label>
				<a href="#" class="quantity-minus">&#8744;</a>
				<input title="Qty" class="form-control" value="2" type="text">
				<a href="#" class="quantity-plus">&#8743;</a>
			</div>

		</td>

		<td class="product-subtotal">
			<h6 class="total amount">$40</h6>
		</td>

		<td class="product-remove">
			<a href="#" class="product-del remove" title="Remove this item">
				<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>
		</td>
	</tr>
	<tr class="cart_item">

		<td class="product-thumbnail">

			<div class="cart-product__item">
				<a href="img/product-small3.png" class="product-thumb js-zoom-image">
					<img src="img/product-small3.png" alt="product" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image">
				</a>
				<div class="cart-product-content">
					<a href="#" class="product-category">CLOTHING</a>
					<a href="#" class="h6 cart-product-title">Olympus Orange Shirt</a>
					<ul class="rait-stars">
						<li>
							<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
						</li>
						<li>
							<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
						</li>

						<li>
							<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
						</li>
						<li>
							<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
						</li>
						<li>
							<i class="far fa-star star-icon" aria-hidden="true"></i>
						</li>
					</ul>
				</div>
			</div>
		</td>

		<td class="product-price">
			<h6 class="price amount">$40</h6>
		</td>

		<td class="product-quantity">

			<div class="form-group label-floating quantity">
				<label class="control-label">Quantity</label>
				<a href="#" class="quantity-minus">&#8744;</a>
				<input title="Qty" class="form-control" value="1" type="text">
				<a href="#" class="quantity-plus">&#8743;</a>
			</div>

		</td>

		<td class="product-subtotal">
			<h6 class="total amount">$40</h6>
		</td>

		<td class="product-remove">
			<a href="#" class="product-del remove" title="Remove this item">
				<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="4" class="actions">
			<div class="form-inline coupon">
				<div class="form-group label-floating">
					<label class="control-label">Enter Coupon</label>
					<input class="form-control bg-white" placeholder="" value="OLYMPUSDSCNT88" type="text" name="coupon_code">
				</div>
				<button class="btn btn-blue btn-lg">Apply</button>
			</div>

			<div class="cart-subtotal">
				Cart Subtotal:<span>$80</span>
			</div>

		</td>
	</tr>
	</tbody>
</table>

<!-- ... end Shop Table Cart -->