
<!-- Product Item -->

<div class="shop-product-item">
	<div class="product-thumb">
		<img src="img/shop-product9.png" alt="product">
	</div>
	<div class="product-content">
		<div class="block-title">
			<a href="#" class="product-category">CLOTHING</a>
			<a href="#" class="h5 title">Olympus W White Shirt</a>
		</div>
		<div class="block-price">
			<ul class="rait-stars">
				<li>
					<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
				</li>
				<li>
					<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
				</li>

				<li>
					<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
				</li>
				<li>
					<i class="far fa-star star-icon" aria-hidden="true"></i>
				</li>
				<li>
					<i class="far fa-star star-icon" aria-hidden="true"></i>
				</li>
			</ul>
			<div class="product-price">$38</div>

			<a href="#" class="in-cart">
				<svg class="olymp-shopping-bag-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"></use></svg>
			</a>
		</div>
	</div>
</div>

<!-- ... end Product Item -->
