
<!-- Product Item -->

<div class="shop-product-item product-item-v2">
	<div class="product-thumb">
		<div class="block-title">
			<a href="#" class="h5 title">White Coffee Mug</a>
		</div>
		<div class="block-price">
			<ul class="rait-stars">
				<li>
					<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
				</li>
				<li>
					<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
				</li>

				<li>
					<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
				</li>
				<li>
					<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
				</li>
				<li>
					<i class="far fa-star star-icon" aria-hidden="true"></i>
				</li>
			</ul>
			<div class="product-price">$28</div>

		</div>
		<img src="img/shop-product7.png" alt="product">
		<a href="#" class="btn btn-blue btn-md-2">Add to Cart</a>
	</div>
</div>

<!-- ... end Product Item -->
