
<ul class="list--styled">
	<li>
		<i class="far fa-check-circle" aria-hidden="true"></i>
		Build your profile in just minutes, it’s that simple!
	</li>
	<li>
		<i class="far fa-check-circle" aria-hidden="true"></i>
		Unlimited messaging with the best interface.
	</li>
</ul>
