<!-- Search Result -->

<article class="hentry post searches-item">

	<div class="post__author author vcard inline-items">
		<img src="img/avatar75-sm.jpg" alt="author">

		<div class="author-date">
			<a class="h6 post__author-name fn" href="02-ProfilePage.html">Dave Marinara</a>
			<div class="country">San Francisco, CA</div>
		</div>

		<span class="notification-icon">
			<a href="#" class="accept-request">
				<span class="icon-add without-text">
					<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
				</span>
			</a>

			<a href="#" class="accept-request chat-message">
				<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
			</a>
		</span>

		<div class="more">
			<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<ul class="more-dropdown">
				<li>
					<a href="#">Edit Post</a>
				</li>
				<li>
					<a href="#">Delete Post</a>
				</li>
				<li>
					<a href="#">Turn Off Notifications</a>
				</li>
				<li>
					<a href="#">Select as Featured</a>
				</li>
			</ul>
		</div>

	</div>

	<p class="user-description">
		<span class="title">About Me:</span> I’m a photographer that travels around the world to find all the best vacation spots!
		<span class="title">Favourite Music Bands / Artists:</span> Iron Maid, DC/AC, Megablow, The Ill, Kung...
	</p>

	<div class="post-block-photo js-zoom-gallery">
		<a href="img/post-photo1.jpg" class="col col-3-width"><img src="img/post-photo1.jpg" alt="photo"></a>
		<a href="img/post-photo2.jpg" class="col col-3-width"><img src="img/post-photo2.jpg" alt="photo"></a>
		<a href="img/post-photo7.jpg" class="more-photos col-3-width">
			<img src="img/post-photo7.jpg" alt="photo">
			<span class="h2">+2.6K</span>
		</a>
	</div>

	<div class="post-additional-info">

		<ul class="friends-harmonic">
			<li>
				<a href="#">
					<img src="img/friend-harmonic7.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic8.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic11.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic10.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#" class="all-users">+13</a>
			</li>
		</ul>
		<div class="names-people-likes">
			You and Dave have
			<a href="#">8 Friends in Common</a>
		</div>

		<div class="friend-count">
			<a href="#" class="friend-count-item">
				<div class="h6">120</div>
				<div class="title">Friends</div>
			</a>
			<a href="#" class="friend-count-item">
				<div class="h6">4.3K</div>
				<div class="title">Photos</div>
			</a>
			<a href="#" class="friend-count-item">
				<div class="h6">8</div>
				<div class="title">Videos</div>
			</a>
		</div>

	</div>

</article>
<!-- ... end Search Result -->