<!-- Search Result -->

<article class="hentry post searches-item">

	<div class="post__author author vcard inline-items">
		<img src="img/avatar7-sm.jpg" alt="author">

		<div class="author-date">
			<a class="h6 post__author-name fn" href="02-ProfilePage.html">Marina Valentine</a>
			<div class="country">Long Island, NY</div>
		</div>

		<span class="notification-icon">
			<a href="#" class="accept-request">
				<span class="icon-add without-text">
					<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
				</span>
			</a>

			<a href="#" class="accept-request chat-message">
				<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
			</a>
		</span>

		<div class="more">
			<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<ul class="more-dropdown">
				<li>
					<a href="#">Edit Post</a>
				</li>
				<li>
					<a href="#">Delete Post</a>
				</li>
				<li>
					<a href="#">Turn Off Notifications</a>
				</li>
				<li>
					<a href="#">Select as Featured</a>
				</li>
			</ul>
		</div>

	</div>

	<p class="user-description">
		<span class="title">About Me:</span> Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
		<span class="title">Favourite TV Shows:</span> Breaking Good, RedDevil, People of Interest, The...
	</p>

	<div class="post-block-photo js-zoom-gallery">
		<a href="img/post-photo3.jpg" class="col col-3-width"><img src="img/post-photo3.jpg" alt="photo"></a>
		<a href="img/post-photo4.jpg" class="col col-3-width"><img src="img/post-photo4.jpg" alt="photo"></a>
		<a href="img/post-photo5.jpg" class="more-photos col-3-width">
			<img src="img/post-photo5.jpg" alt="photo">
			<span class="h2">+352</span>
		</a>
	</div>

	<div class="post-additional-info">

		<ul class="friends-harmonic">
			<li>
				<a href="#">
					<img src="img/friend-harmonic9.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic10.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic7.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic8.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic11.jpg" alt="friend">
				</a>
			</li>
		</ul>
		<div class="names-people-likes">
			You and Marina have
			<a href="#">4 Friends in Common</a>
		</div>

		<div class="friend-count">
			<a href="#" class="friend-count-item">
				<div class="h6">189</div>
				<div class="title">Friends</div>
			</a>
			<a href="#" class="friend-count-item">
				<div class="h6">254</div>
				<div class="title">Photos</div>
			</a>
			<a href="#" class="friend-count-item">
				<div class="h6">16</div>
				<div class="title">Videos</div>
			</a>
		</div>

	</div>

</article>
<!-- ... end Search Result -->