
<!-- Planer Animation -->

<section class="medium-padding120 bg-section3 background-cover planer-animation">
	<div class="container">
		<div class="row mb60">
			<div class="col col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-12">
				<div class="crumina-module crumina-heading align-center">
					<div class="heading-sup-title">SOCIAL NETWORK</div>
					<h2 class="h1 heading-title">Community Reviews</h2>
					<p class="heading-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="swiper-container pagination-bottom" data-show-items="3">
				<div class="swiper-wrapper">
					<div class="ui-block swiper-slide">

						{{> crumina-testimonials/crumina-testimonial-item1}}

					</div>

					<div class="ui-block swiper-slide">

						{{> crumina-testimonials/crumina-testimonial-item2}}

					</div>

					<div class="ui-block swiper-slide">

						{{> crumina-testimonials/crumina-testimonial-item3}}

					</div>
				</div>

				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>

	<img src="img/planer.png" alt="planer" class="planer">
</section>

<!-- ... end Section Planer Animation -->