
<!-- Section Subscribe Animation -->

<section class="medium-padding100 subscribe-animation scrollme bg-users">
	<div class="container">
		<div class="row">
			<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
				<div class="crumina-module crumina-heading c-white custom-color">
					<h2 class="h1 heading-title">Olympus Newsletter</h2>
					<p class="heading-text">Subscribe to be the first one to know about updates, new features and much more!
					</p>
				</div>

				{{> forms/subscribe-form}}

			</div>
		</div>

		<img src="img/paper-plane.png" alt="plane" class="plane">
	</div>
</section>

<!-- ... end Section Subscribe Animation -->