<!-- Window-popup Edit Widget Profile -->

<div class="modal fade" id="edit-widget-profile" tabindex="-1" role="dialog" aria-labelledby="edit-widget-profile" aria-hidden="true">
	<div class="modal-dialog window-popup edit-widget edit-widget-profile" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Edit Profile Intro </h6>
			</div>

			<div class="modal-body">
				<p>This widget get it’s information from the “About” section of your profile. Just choose which elements you’d
					like to show on the widget. <a href="#">Click here</a> if you wanna change your information.
				</p>
			</div>

			<div class="ui-block-title ui-block-title-small">
				<h6 class="title">PERSONAL INFO</h6>
			</div>

			<div class="modal-body">
				<div class="ui-block-content">
					<div class="row">

						<div class="col col-lg-4 col-md-4 col-sm-12  no-padding">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									About Me
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Lives In
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Sex
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Website
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Political Incline
								</label>
							</div>
						</div>

						<div class="col col-lg-4 col-md-4 col-sm-12  no-padding">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Birthday
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Occupatio
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Status
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Phone Number
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Social Networks
								</label>
							</div>
						</div>

						<div class="col col-lg-4 col-md-4 col-sm-12  no-padding">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Birthplace
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Joined
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Email
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Religious Belifs
								</label>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="ui-block-title ui-block-title-small">
				<h6 class="title">Hobbies and Interests</h6>
			</div>

			<div class="modal-body">
				<div class="ui-block-content">
					<div class="row">

						<div class="col col-lg-6 col-md-6 col-sm-12  no-padding">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Hobbies
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Favourite Tv Shows
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Favourite Movies
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Favourite Games
								</label>
							</div>
						</div>

						<div class="col col-lg-6 col-md-6 col-sm-12  no-padding">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Favourite Music Bands / ...
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Favourite Books
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Favourite Writers
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Other Interests
								</label>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="modal-footer">
				<a href="#" class="btn btn-primary btn-lg full-width">Save all Changes</a>
			</div>
		</div>

	</div>
</div>

<!-- ... end Window-popup Edit Widget Profile -->
