<!-- Window-popup Edit Widget Twitter -->

<div class="modal fade" id="edit-widget-twitter" tabindex="-1" role="dialog" aria-labelledby="edit-widget-twitter" aria-hidden="true">
	<div class="modal-dialog window-popup edit-widget edit-widget-twitter" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Edit Twitter Feed</h6>
			</div>

			<div class="modal-body">
			<fieldset class="form-group label-floating is-select">
				<label class="control-label">Amount of Tweets</label>
				<select class="selectpicker form-control">
					<option value="AL">Show 3 Last Tweets</option>
					<option value="2">Show 6 Last Tweets</option>
					<option value="WY">Show 9 Last Tweets</option>
				</select>
			</fieldset>

			<p>You are logged in to Twitter as <a href="#" class="c-twitter">@james_spiegelOK</a></p>

			<a href="#" class="btn bg-twitter btn-lg full-width btn-icon-left"><i class="fab fa-twitter" aria-hidden="true"></i>Twitter Account Logout</a>

			<a href="#" class="btn btn-primary btn-lg full-width">Save all Changes</a>
		</div>
		</div>

	</div>
</div>

<!-- ... end Window-popup Edit Widget Twitter -->
