<!-- Faqs Popup -->

<div class="modal fade" id="faqs-popup" tabindex="-1" role="dialog" aria-labelledby="faqs-popup" aria-hidden="true">
	<div class="modal-dialog window-popup faqs-popup" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
				</svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Link your Playlist FAQs</h6>
			</div>

			<div class="modal-body">
				<div id="accordion" role="tablist" aria-multiselectable="true">
					<div class="card">
						<div class="card-header" role="tab" id="headingOne">
							<h6 class="mb-0">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Linking your <span class="c-green">Spotify</span> Account
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</a>
							</h6>
						</div>

						<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillumered dolore eu fugiat nulla
								pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
								mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							</p>
						</div>
					</div>
					<div class="card">
						<div class="card-header" role="tab" id="headingTwo">
							<h6 class="mb-0">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
									Choosing your Olympus Playlist
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</a>
							</h6>
						</div>

						<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillumered dolore eu fugiat nulla
								pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
								mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							</p>
						</div>
					</div>
					<div class="card">
						<div class="card-header" role="tab" id="headingThree">
							<h6 class="mb-0">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
									Choosing your Olympus Playlist
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</a>
							</h6>
						</div>

						<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillumered dolore eu fugiat nulla
								pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
								mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							</p>
						</div>
					</div>
					<div class="card">
						<div class="card-header" role="tab" id="headingFour">
							<h6 class="mb-0">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
									Choosing your Olympus Playlist
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</a>
							</h6>
						</div>

						<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillumered dolore eu fugiat nulla
								pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
								mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							</p>
						</div>
					</div>
					<div class="card">
						<div class="card-header" role="tab" id="headingFive">
							<h6 class="mb-0">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
									Choosing your Olympus Playlist
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</a>
							</h6>
						</div>

						<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillumered dolore eu fugiat nulla
								pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
								mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Faqs Popup -->
