
<!-- Window Popup Favourite Page -->

<div class="modal fade" id="fav-page-popup" tabindex="-1" role="dialog" aria-labelledby="fav-page-popup" aria-hidden="true">
	<div class="modal-dialog window-popup fav-page-popup" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Create Favourite Page</h6>
			</div>

			<div class="modal-body">
			<form>
				<div class="row">
					<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
						<div class="form-group label-floating">
							<label class="control-label">First Name</label>
							<input class="form-control" placeholder="" type="text" value="Green Goo">
						</div>
					</div>
					<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
						<div class="form-group label-floating">
							<label class="control-label">Last Name</label>
							<input class="form-control" placeholder="" type="text" value="Rock">
						</div>
					</div>
					<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="form-group label-floating">
							<label class="control-label">Your Email</label>
							<input class="form-control" placeholder="" type="email" value="greengoo_gigs@yourmail.com">
						</div>

						<div class="form-group label-floating">
							<label class="control-label">Your Website</label>
							<input class="form-control" placeholder="" type="email" value="www.ggrock.com">
						</div>

						<div class="form-group label-floating has-bootstrap-select">
							<label class="control-label">Category</label>
							<select class="selectpicker form-control">
								<option value="MA">Rock Band</option>
								<option value="FE">Pop Band</option>
								<option value="FE">Jazz Band</option>
							</select>
						</div>

						<div class="form-group label-floating">
							<label class="control-label">Write a little description about the page</label>
							<textarea class="form-control" placeholder="">We are Rock Band from Los Angeles, now based in San Francisco, come and listen to us play!</textarea>
						</div>

						<div class="form-group label-floating has-bootstrap-select">
							<label class="control-label">Invite Friends</label>
							<select class="selectpicker form-control" multiple>
								<option value="MB" selected>Mathilda Brinker</option>
								<option value="NG" selected>Nicholas Grissom</option>
								<option value="TS">Tony Stevens</option>
							</select>
						</div>

						<button class="btn btn-primary btn-lg full-width">Create Favourite Page</button>
					</div>


				</div>

			</form>
		</div>
		</div>
	</div>
</div>

<!-- ... end Window Popup Favourite Page -->
