
<!-- Single Post -->

<article class="hentry blog-post single-post single-post-v2">

	<a href="#" class="post-category bg-blue-light">THE COMMUNITY</a>
	<h2 class="h1 post-title">Here are the best tattoos of our community</h2>

	<div class="single-post-additional inline-items">
		<div class="post__author author vcard inline-items">
			<img alt="author" src="img/avatar84-sm.jpg" class="avatar">
			<div class="author-date not-uppercase">
				<a class="h6 post__author-name fn" href="#">Jack Scorpio</a>
				<div class="author_prof">
					Author
				</div>
			</div>
		</div>
		<div class="post-date-wrap inline-items">
			<svg class="olymp-calendar-icon">
				<use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use>
			</svg>
			<div class="post-date">
				<a class="h6 date" href="#">2 Months Ago</a>
				<span>Date</span>
			</div>
		</div>
		<div class="post-comments-wrap inline-items">
			<svg class="olymp-comments-post-icon">
				<use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
			</svg>
			<div class="post-comments">
				<a class="h6 comments" href="#">14</a>
				<span>Comments</span>
			</div>
		</div>
	</div>

	<div class="post-thumb">
		<img src="img/post-header1.jpg" alt="author">
	</div>


	<div class="post-content-wrap">

		<div class="post-content">
			<h5 class="weight-normal">Lorem ipsum dolor sit amet, consectadipisicing elit, sed do eiusmod por incidid ut labore et dolore
				magna aliqua. Ut enim ad minim veniam, quis nostrud lorem exercitation ullamco laboris.
			</h5>

			<p>Duis en aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
				deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
				voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
				inventore veritatis et quasi hitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
				voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
				dolores eos qui ratione voluptatem sequi nesciunt Sed ut perspiciatis unde omnis iste natus
				error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
				ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
				ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
				dolores eos qui ratione voluptatem sequi nesciunt.
			</p>

			<h3>Best Tattoos Slideshow</h3>

			<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
				sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
				voluptatem accusantium doloremque.
			</p>

			<div class="single-post-slider">

				<div class="swiper-container" data-autoplay="4000">

					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						<!-- Slides -->

						<div class="swiper-slide">
							<img src="img/slide1.jpg" alt="photo">
						</div>

						<div class="swiper-slide">
							<img src="img/slide1.jpg" alt="photo">
						</div>

						<div class="swiper-slide">
							<img src="img/slide1.jpg" alt="photo">
						</div>

						<div class="swiper-slide">
							<img src="img/slide1.jpg" alt="photo">
						</div>

						<div class="swiper-slide">
							<img src="img/slide1.jpg" alt="photo">
						</div>

						<div class="swiper-slide">
							<img src="img/slide1.jpg" alt="photo">
						</div>

					</div>

				</div>

				<!--Pagination tabs-->

				<div class="slider-slides">
					<a href="#" class="slides-item ">
						<img src="img/photo-tabs10.jpg" alt="slide">
						<div class="overlay overlay-dark"></div>
					</a>

					<a href="#" class="slides-item ">
						<img src="img/photo-tabs11.jpg" alt="slide">
						<div class="overlay overlay-dark"></div>
					</a>

					<a href="#" class="slides-item ">
						<img src="img/photo-tabs12.jpg" alt="slide">
						<div class="overlay overlay-dark"></div>
					</a>

					<a href="#" class="slides-item ">
						<img src="img/photo-tabs13.jpg" alt="slide">
						<div class="overlay overlay-dark"></div>
					</a>
					<a href="#" class="slides-item ">
						<img src="img/photo-tabs14.jpg" alt="slide">
						<div class="overlay overlay-dark"></div>
					</a>

					<a href="#" class="slides-item ">
						<img src="img/photo-tabs15.jpg" alt="slide">
						<div class="overlay overlay-dark"></div>
					</a>

					<!--Prev Next Arrows-->

					<svg class="btn-next olymp-popup-right-arrow">
						<use xlink:href="svg-icons/sprites/icons.svg#olymp-popup-right-arrow"></use>
					</svg>

					<svg class="btn-prev olymp-popup-left-arrow">
						<use xlink:href="svg-icons/sprites/icons.svg#olymp-popup-left-arrow"></use>
					</svg>

				</div>

			</div>

			<p>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud tation ullamco laboris
				nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
				velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
				sunt in culpa qui officia unt mollit anim id est laborum aperiam, eaque ipsa quae ab illo
				inventore veritatis quasi architecto.
			</p>
		</div>
	</div>

	<div class="choose-reaction">
		<div class="title">Choose your <span>Reaction!</span></div>

		<ul>
			<li>
				<a href="#">
					<img src="img/icon-chat13.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="LOL">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/icon-chat15.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="Amazed">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/icon-chat9.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="ANGER">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/icon-chat4.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="joy">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/icon-chat6.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="BAD">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/icon-chat26.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="LIKE">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/icon-chat27.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="COOL">
				</a>
			</li>
		</ul>

	</div>

	<div class="socials-shared">
		<a href="#" class="social-item bg-facebook">
			<i class="fab fa-facebook-f" aria-hidden="true"></i>
		</a>
		<a href="#" class="social-item bg-twitter">
			<i class="fab fa-twitter" aria-hidden="true"></i>
		</a>
		<a href="#" class="social-item bg-google">
			<i class="fab fa-google-plus-g" aria-hidden="true"></i>
		</a>
	</div>

</article>

<!-- ... end Single Post -->
