
<!-- Single Post -->

<article class="hentry blog-post single-post single-post-v1">

	<div class="control-block-button post-control-button">
		<a href="#" class="btn btn-control has-i bg-facebook">
			<i class="fab fa-facebook-f" aria-hidden="true"></i>
		</a>

		<a href="#" class="btn btn-control has-i bg-twitter">
			<i class="fab fa-twitter" aria-hidden="true"></i>
		</a>
	</div>

	<a href="#" class="post-category bg-primary">OLYMPUS NEWS</a>
	<h1 class="post-title">Olympus Network added new photo filters!</h1>

	<div class="author-date">
		<div class="author-thumb">
			<img alt="author" src="img/friend-harmonic7.jpg" class="avatar">
		</div>
		by
		<a class="h6 post__author-name fn" href="#">JACK SCORPIO</a>
		<div class="post__date">
			<time class="published" datetime="2017-03-24T18:18">
				-  12 hours ago
			</time>
		</div>
	</div>


	<div class="post-content-wrap">
		<ul class="filter-icons">
			<li>
				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
					<span>0</span>
				</a>
			</li>
			<li>
				<a href="#" class="post-add-icon inline-items">
					<img src="img/icon-chat1.png" alt="icon">
					<span>58</span>
				</a>
			</li>
			<li>
				<a href="#" class="post-add-icon inline-items">
					<img src="img/icon-chat26.png" alt="icon">
					<span>21</span>
				</a>
			</li>
			<li>
				<a href="#" class="post-add-icon inline-items">
					<img src="img/icon-chat15.png" alt="icon">
					<span>3</span>
				</a>
			</li>
		</ul>

		<div class="post-content">
			<h5>Lorem ipsum dolor sit amet, consectadipisicing elit, sed do eiusmod por incidid ut labore et dolore
				magna aliqua. Ut enim ad minim veniam, quis nostrud lorem exercitation ullamco laboris.
			</h5>

			<p>Duis en aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
				deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
				voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
				inventore veritatis et quasi hitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
				voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
				dolores eos qui ratione voluptatem sequi nesciunt Sed ut perspiciatis unde omnis iste natus
				error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
				ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
				ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
				dolores eos qui ratione voluptatem sequi nesciunt.
			</p>

			<h3>The Users Reactions</h3>

			<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
				sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
				voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
				laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
				qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
				fugiat quo voluptas nulla pariatur?
			</p>

			<blockquote>
				<p>“I’m really loving the new photo filters! I feel like a professional photographer!”</p>
				<h6><span>Katherine Lothbrok</span>
					Olympus User</h6>
			</blockquote>

			<p>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud tation ullamco laboris
				nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
				velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
				sunt in culpa qui officia unt mollit anim id est laborum aperiam, eaque ipsa quae ab illo
				inventore veritatis  quasi architecto.
			</p>
		</div>
	</div>


	<div class="choose-reaction">
		<div class="title">Choose your <span>Reaction!</span></div>

		<ul>
			<li>
				<a href="#">
					<img src="img/icon-chat13.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="LOL">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/icon-chat15.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="Amazed">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/icon-chat9.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="ANGER">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/icon-chat4.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="joy">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/icon-chat6.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="BAD">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/icon-chat26.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="LIKE">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/icon-chat27.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="COOL">
				</a>
			</li>
		</ul>

	</div>
</article>

<!-- ... end Single Post -->
