
<div class="birthday-item inline-items badges">
	<div class="author-thumb">
		<img src="img/badge3.png" alt="author">
		<div class="label-avatar bg-blue">4</div>
	</div>
	<div class="birthday-author-name">
		<a href="#" class="h6 author-name">Friendly User</a>
		<div class="birthday-date">You have more than 80 friends. Next Tier: 150 Friends. </div>
	</div>

	<div class="skills-item">
		<div class="skills-item-meter">
			<span class="skills-item-meter-active" style="width: 52%"></span>
		</div>
	</div>

</div>
