
<div class="birthday-item inline-items badges">
	<div class="author-thumb">
		<img src="img/badge4.png" alt="author">
	</div>
	<div class="birthday-author-name">
		<a href="#" class="h6 author-name">Professional Photographer</a>
		<div class="birthday-date">You have uploaded more than 500 images to your profile.</div>
	</div>

	<div class="skills-item">
		<div class="skills-item-meter">
			<span class="skills-item-meter-active" style="width: 100%"></span>
		</div>
	</div>

</div>
