
<div class="birthday-item inline-items badges">
	<div class="author-thumb">
		<img src="img/badge14.png" alt="author">
	</div>
	<div class="birthday-author-name">
		<a href="#" class="h6 author-name">Friendship Cultivator</a>
		<div class="birthday-date">You have tagged friends on 200 different posts.</div>
	</div>

	<div class="skills-item">
		<div class="skills-item-meter">
			<span class="skills-item-meter-active" style="width: 80%"></span>
		</div>
	</div>

</div>
