
<div class="birthday-item inline-items badges">
	<div class="author-thumb">
		<img src="img/badge9.png" alt="author">
	</div>
	<div class="birthday-author-name">
		<a href="#" class="h6 author-name">Messaging Master</a>
		<div class="birthday-date">You have messaged with at least 20 different people.</div>
	</div>

	<div class="skills-item">
		<div class="skills-item-meter">
			<span class="skills-item-meter-active" style="width: 69%"></span>
		</div>
	</div>

</div>
