
<!-- Contact Item -->

<div class="contact-item-wrap">
	<h3 class="contact-title">Business Chat</h3>
	<div class="contact-item">
		<h6 class="sub-title">Marc Jackson:</h6>
		<a href="mailto:">jacksonbusiness@olympus.com</a>
	</div>
	<div class="contact-item">
		<h6 class="sub-title">Skype:</h6>
		<a href="#">Jackson Business</a>
	</div>
</div>

<!-- ... end Contact Item -->
