
<!-- Contact Item -->

<div class="contact-item-wrap">
	<h3 class="contact-title">Human Resources</h3>
	<div class="contact-item">
		<h6 class="sub-title">Stella Karenson:</h6>
		<a href="mailto:">stellahhrr@olympus.com</a>
	</div>
	<div class="contact-item">
		<h6 class="sub-title">Skype:</h6>
		<a href="#">Karenson HHRR</a>
	</div>
</div>

<!-- ... end Contact Item -->
