
<!-- Contact Item -->

<div class="contact-item-wrap">
	<h3 class="contact-title">Olympus HQ</h3>
	<div class="contact-item">
		<a href="#">254 W58th St, New York NY 10001, USA</a>
	</div>
	<div class="contact-item">
		<h6 class="sub-title">General Inquiries:</h6>
		<a href="mailto:">hqinquiries@olympus.com</a>
	</div>
</div>

<!-- ... end Contact Item -->