
<!-- Friend Item -->

<div class="friend-item">
	<div class="friend-header-thumb">
		<img src="img/friend5.jpg" alt="friend">
	</div>

	<div class="friend-item-content">

		<div class="more">
			<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<ul class="more-dropdown">
				<li>
					<a href="#">Report Profile</a>
				</li>
				<li>
					<a href="#">Block Profile</a>
				</li>
				<li>
					<a href="#">Turn Off Notifications</a>
				</li>
			</ul>
		</div>
		<div class="friend-avatar">
			<div class="author-thumb">
				<img src="img/avatar5.jpg" alt="author">
			</div>
			<div class="author-content">
				<a href="#" class="h5 author-name">Elaine Dreifuss</a>
				<div class="country">New York, NY</div>
			</div>
		</div>

		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="friend-count" data-swiper-parallax="-500">
						<a href="#" class="friend-count-item">
							<div class="h6">82</div>
							<div class="title">Friends</div>
						</a>
						<a href="#" class="friend-count-item">
							<div class="h6">204</div>
							<div class="title">Photos</div>
						</a>
						<a href="#" class="friend-count-item">
							<div class="h6">27</div>
							<div class="title">Videos</div>
						</a>
					</div>
					<div class="control-block-button" data-swiper-parallax="-100">
						<a href="#" class="btn btn-control bg-blue">
							<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control bg-purple">
							<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
						</a>

					</div>
				</div>

				<div class="swiper-slide">
					<p class="friend-about" data-swiper-parallax="-500">
						Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
					</p>

					<div class="friend-since" data-swiper-parallax="-100">
						<span>Friends Since:</span>
						<div class="h6">December 2014</div>
					</div>
				</div>
			</div>

			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>

<!-- ... end Friend Item -->