
<!-- Widget About -->

<div class="widget w-about">

	<a href="02-ProfilePage.html" class="logo">
		<div class="img-wrap">
			<img src="img/logo-colored.png" alt="Olympus">
		</div>
		<div class="title-block">
			<h6 class="logo-title">olympus</h6>
			<div class="sub-title">SOCIAL NETWORK</div>
		</div>
	</a>
	<p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et lorem.</p>
	<ul class="socials">
		<li>
			<a href="#">
				<i class="fab fa-facebook-square" aria-hidden="true"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fab fa-twitter" aria-hidden="true"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fab fa-youtube" aria-hidden="true"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fab fa-google-plus-g" aria-hidden="true"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fab fa-instagram" aria-hidden="true"></i>
			</a>
		</li>
	</ul>
</div>

<!-- ... end Widget About -->
