
<!-- W-Action -->

<div class="widget w-action">

	<img src="img/logo.png" alt="Olympus">
	<div class="content">
		<h4 class="title">OLYMPUS</h4>
		<span>THE BEST SOCIAL NETWORK THEME IS HERE!</span>
		<a href="01-LandingPage.html" class="btn btn-bg-secondary btn-md">Register Now!</a>
	</div>
</div>

<!-- ... end W-Action -->