<!-- W-Badges -->

<ul class="widget w-badges">
	<li>
		<a href="24-CommunityBadges.html">
			<img src="img/badge1.png" alt="author">
			<div class="label-avatar bg-primary">2</div>
		</a>
	</li>
	<li>
		<a href="24-CommunityBadges.html">
			<img src="img/badge4.png" alt="author">
		</a>
	</li>
	<li>
		<a href="24-CommunityBadges.html">
			<img src="img/badge3.png" alt="author">
			<div class="label-avatar bg-blue">4</div>
		</a>
	</li>
	<li>
		<a href="24-CommunityBadges.html">
			<img src="img/badge6.png" alt="author">
		</a>
	</li>
	<li>
		<a href="24-CommunityBadges.html">
			<img src="img/badge11.png" alt="author">
		</a>
	</li>
	<li>
		<a href="24-CommunityBadges.html">
			<img src="img/badge8.png" alt="author">
		</a>
	</li>
	<li>
		<a href="24-CommunityBadges.html">
			<img src="img/badge10.png" alt="author">
		</a>
	</li>
	<li>
		<a href="24-CommunityBadges.html">
			<img src="img/badge13.png" alt="author">
			<div class="label-avatar bg-breez">2</div>
		</a>
	</li>
	<li>
		<a href="24-CommunityBadges.html">
			<img src="img/badge7.png" alt="author">
		</a>
	</li>
	<li>
		<a href="24-CommunityBadges.html">
			<img src="img/badge12.png" alt="author">
		</a>
	</li>
</ul>

<!--.. end W-Badges -->