<!-- W-Blog-Posts -->

<ul class="widget w-blog-posts">
	<li>
		<article class="hentry post">

			<a href="#" class="h4">My Perfect Vacations in South America and Europe</a>

			<p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et.</p>

			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					7 hours ago
				</time>
			</div>

		</article>
	</li>
	<li>
		<article class="hentry post">

			<a href="#" class="h4">The Big Experience of Travelling Alone</a>

			<p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et.</p>

			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					March 18th, at 6:52pm
				</time>
			</div>

		</article>
	</li>
</ul>

<!-- .. end W-Blog-Posts -->