<!-- W-Build-Fav -->

<div class="widget w-build-fav">

	<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

	<div class="widget-thumb">
		<img src="img/build-fav.png" alt="notebook">
	</div>

	<div class="content">
		<span>Increase your Audience</span>
		<a href="#" class="h4 title">Build Your Fav Page in Seconds!</a>
		<p><a href="#" class="bold">Click here</a> to start now and get your own fav page up and running! </p>
	</div>
</div>

<!-- ... end W-Build-Fav -->

