
<!-- W-Create-Fav-Page -->

<div class="widget w-create-fav-page">
	<div class="icons-block">
		<svg class="olymp-star-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="FAV PAGE"><use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>

		<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
	</div>

	<div class="content">
		<span>Be like them and</span>
		<h3 class="title">Create your own Favourite Page!</h3>
		<a href="36-FavPage-SettingsAndCreatePopup.html" class="btn btn-bg-secondary btn-sm">Start Now!</a>
	</div>
</div>

<!-- ... end W-Create-Fav-Page -->