
<!-- W-Faved-Page -->

<ul class="widget w-faved-page">
	<li>
		<a href="#">
			<img src="img/faved-page1.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page2.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page3.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page4.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page5.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page6.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page7.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page8.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page9.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page7.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page10.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page11.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page7.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page12.jpg" alt="user">
		</a>
	</li>
	<li class="all-users">
		<a href="#">+5k</a>
	</li>
</ul>

<!-- ... end W-Faved-Page -->