<!-- W-Faved-Page -->

<ul class="widget w-faved-page js-zoom-gallery">
	<li>
		<a href="#">
			<img src="img/avatar38-sm.jpg" alt="author">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar24-sm.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar36-sm.jpg" alt="author">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar35-sm.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar34-sm.jpg" alt="author">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar33-sm.jpg" alt="author">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar32-sm.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar31-sm.jpg" alt="author">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar30-sm.jpg" alt="author">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar29-sm.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar28-sm.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar27-sm.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar26-sm.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar25-sm.jpg" alt="user">
		</a>
	</li>
	<li class="all-users">
		<a href="#">+74</a>
	</li>
</ul>

<!-- .. end W-Faved-Page -->