
<!-- W-Faved-Page -->

<ul class="widget w-faved-page">
	<li>
		<a href="#">
			<img src="img/avatar41-sm.jpg" alt="author">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page7.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar43-sm.jpg" alt="author">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page7.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar44-sm.jpg" alt="author">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar42-sm.jpg" alt="author">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page7.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar45-sm.jpg" alt="author">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/avatar46-sm.jpg" alt="author">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page7.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page1.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page11.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page7.jpg" alt="user">
		</a>
	</li>
	<li>
		<a href="#">
			<img src="img/faved-page12.jpg" alt="user">
		</a>
	</li>
	<li class="all-users">
		<a href="#">+40</a>
	</li>
</ul>

<!-- ... end W-Faved-Page -->