
<!-- Widget Featured Topics -->

<ul class="widget w-featured-topics">
	<li>
		<i class="icon fa fa-star" aria-hidden="true"></i>
		<div class="content">
			<a href="#" class="h6 title">The new Goddess of War trailer was launched at E3!</a>
			<time class="entry-date updated" datetime="2017-06-24T18:18">2 hours, 16 minutes ago</time>
		</div>
	</li>
	<li>
		<i class="icon fa fa-star" aria-hidden="true"></i>
		<div class="content">
			<a href="#" class="h6 title">This year’s ComixCon will have the best presentations</a>
			<time class="entry-date updated" datetime="2017-06-24T18:18">14 hours, 36 minutes ago</time>
		</div>
	</li>
	<li>
		<i class="icon fa fa-star" aria-hidden="true"></i>
		<div class="content">
			<a href="#" class="h6 title">Here are the behind-the-scenes photos of “Vilords”</a>
			<time class="entry-date updated" datetime="2017-06-24T18:18">9 hours, 8 minutes ago</time>
		</div>
	</li>
</ul>

<!-- ... end Widget Featured Topics -->