

<!-- W-Action -->

<ul class="widget w-friend-pages-added notification-list friend-requests">
	<li class="inline-items">
		<div class="author-thumb">
			<img src="img/avatar38-sm.jpg" alt="author">
		</div>
		<div class="notification-event">
			<a href="#" class="h6 notification-friend">Francine Smith</a>
			<span class="chat-message-item">8 Friends in Common</span>
		</div>
		<span class="notification-icon">
			<a href="#" class="accept-request">
				<span class="icon-add without-text">
					<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
				</span>
			</a>
		</span>
	</li>

	<li class="inline-items">
		<div class="author-thumb">
			<img src="img/avatar39-sm.jpg" alt="author">
		</div>
		<div class="notification-event">
			<a href="#" class="h6 notification-friend">Hugh Wilson</a>
			<span class="chat-message-item">6 Friends in Common</span>
		</div>
		<span class="notification-icon">
			<a href="#" class="accept-request">
				<span class="icon-add without-text">
					<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
				</span>
			</a>
		</span>
	</li>

	<li class="inline-items">
		<div class="author-thumb">
			<img src="img/avatar40-sm.jpg" alt="author">
		</div>
		<div class="notification-event">
			<a href="#" class="h6 notification-friend">Karen Masters</a>
			<span class="chat-message-item">6 Friends in Common</span>
		</div>
		<span class="notification-icon">
			<a href="#" class="accept-request">
				<span class="icon-add without-text">
					<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
				</span>
			</a>
		</span>
	</li>

</ul>

<!-- ... end W-Action -->