<!-- W-Friend-Pages-Added -->

<ul class="widget w-friend-pages-added notification-list friend-requests">
	<li class="inline-items">
		<div class="author-thumb">
			<img src="img/avatar41-sm.jpg" alt="author">
		</div>
		<div class="notification-event">
			<a href="#" class="h6 notification-friend">The Marina Bar</a>
			<span class="chat-message-item">Restaurant / Bar</span>
		</div>
		<span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
			<a href="#">
				<svg class="olymp-star-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
			</a>
		</span>

	</li>

	<li class="inline-items">
		<div class="author-thumb">
			<img src="img/avatar42-sm.jpg" alt="author">
		</div>
		<div class="notification-event">
			<a href="#" class="h6 notification-friend">Tapronus Rock</a>
			<span class="chat-message-item">Rock Band</span>
		</div>
		<span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
			<a href="#">
				<svg class="olymp-star-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
			</a>
		</span>

	</li>

	<li class="inline-items">
		<div class="author-thumb">
			<img src="img/avatar43-sm.jpg" alt="author">
		</div>
		<div class="notification-event">
			<a href="#" class="h6 notification-friend">Pixel Digital Design</a>
			<span class="chat-message-item">Company</span>
		</div>
		<span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
			<a href="#">
				<svg class="olymp-star-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
			</a>
		</span>
	</li>

	<li class="inline-items">
		<div class="author-thumb">
			<img src="img/avatar44-sm.jpg" alt="author">
		</div>
		<div class="notification-event">
			<a href="#" class="h6 notification-friend">Thompson’s Custom Clothing Boutique</a>
			<span class="chat-message-item">Clothing Store</span>
		</div>
		<span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
			<a href="#">
				<svg class="olymp-star-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
			</a>
		</span>

	</li>

	<li class="inline-items">
		<div class="author-thumb">
			<img src="img/avatar45-sm.jpg" alt="author">
		</div>
		<div class="notification-event">
			<a href="#" class="h6 notification-friend">Crimson Agency</a>
			<span class="chat-message-item">Company</span>
		</div>
		<span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
			<a href="#">
				<svg class="olymp-star-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
			</a>
		</span>
	</li>

	<li class="inline-items">
		<div class="author-thumb">
			<img src="img/avatar46-sm.jpg" alt="author">
		</div>
		<div class="notification-event">
			<a href="#" class="h6 notification-friend">Mannequin Angel</a>
			<span class="chat-message-item">Clothing Store</span>
		</div>
		<span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
			<a href="#">
				<svg class="olymp-star-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
			</a>
		</span>
	</li>
</ul>

<!-- .. end W-Friend-Pages-Added -->