
<!-- W-Latest-Photo -->

<ul class="widget w-last-photo js-zoom-gallery">
	<li>
		<a href="img/last-photo1-large.jpg">
			<img src="img/last-photo1-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-photo2-large.jpg">
			<img src="img/last-photo2-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-photo3-large.jpg">
			<img src="img/last-photo3-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-photo4-large.jpg">
			<img src="img/last-photo4-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-phot11-large.jpg">
			<img src="img/last-phot11-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-phot12-large.jpg">
			<img src="img/last-phot12-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-photo7-large.jpg">
			<img src="img/last-photo7-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-photo8-large.jpg">
			<img src="img/last-photo8-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-photo9-large.jpg">
			<img src="img/last-photo9-large.jpg" alt="photo">
		</a>
	</li>
</ul>

<!-- ... end W-Latest-Photo -->