<!-- W-Latest-Photo -->

<ul class="widget w-last-photo js-zoom-gallery">
	<li>
		<a href="img/last-photo10-large.jpg">
			<img src="img/last-photo10-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-phot11-large.jpg">
			<img src="img/last-phot11-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-phot12-large.jpg">
			<img src="img/last-phot12-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-phot13-large.jpg">
			<img src="img/last-phot13-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-phot14-large.jpg">
			<img src="img/last-phot14-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-phot15-large.jpg">
			<img src="img/last-phot15-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-phot16-large.jpg">
			<img src="img/last-phot16-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-phot17-large.jpg">
			<img src="img/last-phot17-large.jpg" alt="photo">
		</a>
	</li>
	<li>
		<a href="img/last-phot18-large.jpg">
			<img src="img/last-phot18-large.jpg" alt="photo">
		</a>
	</li>
</ul>


<!-- .. end W-Latest-Photo -->