
<div class="widget w-list">
	<h6 class="title">Your Profile</h6>
	<ul>
		<li>
			<a href="#">Main Page</a>
		</li>
		<li>
			<a href="#">About</a>
		</li>
		<li>
			<a href="#">Friends</a>
		</li>
		<li>
			<a href="#">Photos</a>
		</li>
	</ul>
</div>
