
<div class="widget w-list">
	<h6 class="title">Olympus</h6>
	<ul>
		<li>
			<a href="#">Privacy</a>
		</li>
		<li>
			<a href="#">Terms & Conditions</a>
		</li>
		<li>
			<a href="#">Forums</a>
		</li>
		<li>
			<a href="#">Statistics</a>
		</li>
	</ul>
</div>
