
<div class="widget w-list">
	<h6 class="title">Features</h6>
	<ul>
		<li>
			<a href="#">Newsfeed</a>
		</li>
		<li>
			<a href="#">Post Versions</a>
		</li>
		<li>
			<a href="#">Messages</a>
		</li>
		<li>
			<a href="#">Friend Groups</a>
		</li>
	</ul>
</div>
