
<!-- W-Personal-Info -->

<ul class="widget w-personal-info item-block">
	<li>
		<span class="title">Digital Design Intern</span>
		<span class="date">2006-2008</span>
		<span class="text">Digital Design Intern for the “Multimedz” agency. Was in charge of the communication with the clients.</span>
	</li>
	<li>
		<span class="title">UI/UX Designer</span>
		<span class="date">2008-2013</span>
		<span class="text">UI/UX Designer for the “Daydreams” agency. </span>
	</li>
	<li>
		<span class="title">Senior UI/UX Designer</span>
		<span class="date">2013-Now</span>
		<span class="text">Senior UI/UX Designer for the “Daydreams” agency. I’m in charge of a ten person group, overseeing all the proyects and talking to potential clients.</span>
	</li>
</ul>

<!-- ... end W-Personal-Info -->