
<!-- W-Personal-Info -->

<ul class="widget w-personal-info item-block">
	<li>
		<span class="title">The New College of Design</span>
		<span class="date">2001 - 2006</span>
		<span class="text">Breaking Good, RedDevil, People of Interest, The Running Dead, Found,  American Guy.</span>
	</li>
	<li>
		<span class="title">Rembrandt Institute</span>
		<span class="date">2008</span>
		<span class="text">Five months Digital Illustration course. Professor: Leonardo Stagg.</span>
	</li>
	<li>
		<span class="title">The Digital College </span>
		<span class="date">2010</span>
		<span class="text">6 months intensive Motion Graphics course. After Effects and Premire. Professor: Donatello Urtle. </span>
	</li>
</ul>

<!-- ... end W-Personal-Info -->
