
<!-- W-Personal-Info -->

<ul class="widget w-personal-info item-block">
	<li>
		<span class="title">Additional Info:</span>
		<span class="text">We are open for gigs all over the country. If you are interested,
								please contact us via our website or send us an email to gigs@ggrock.com
							</span>
	</li>
	<li>
		<span class="title">Since:</span>
		<span class="text">Founded in 1996</span>
	</li>
	<li>
		<span class="title">Joined Olympus:</span>
		<span class="text">September 14th, 2012</span>
	</li>
	<li>
		<span class="title">Phone Number:</span>
		<span class="text">(044) 555 - 6943 - 5789</span>
	</li>
</ul>

<!-- ... end W-Personal-Info -->