
<!-- W-Personal-Info -->

<ul class="widget w-personal-info item-block">
	<li>
		<span class="title">Hobbies:</span>
		<span class="text">I like to ride the bike to work, swimming, and working out. I also like
								reading design magazines, go to museums, and binge watching a good tv show while it’s raining outside.
							</span>
	</li>
	<li>
		<span class="title">Favourite TV Shows:</span>
		<span class="text">Breaking Good, RedDevil, People of Interest, The Running Dead, Found,  American Guy.</span>
	</li>
	<li>
		<span class="title">Favourite Movies:</span>
		<span class="text">Idiocratic, The Scarred Wizard and the Fire Crown,  Crime Squad, Ferrum Man. </span>
	</li>
	<li>
		<span class="title">Favourite Games:</span>
		<span class="text">The First of Us, Assassin’s Squad, Dark Assylum, NMAK16, Last Cause 4, Grand Snatch Auto. </span>
	</li>
</ul>

<!-- ... end W-Personal-Info -->