
<!-- W-Personal-Info -->

<ul class="widget w-personal-info item-block">
	<li>
		<span class="text">We are Rock Band from Los Angeles, now based in San Francisco, come and listen to us play!</span>
	</li>
	<li>
		<span class="title">Created:</span>
		<span class="text">September 17th, 2013</span>
	</li>
	<li>
		<span class="title">Based in:</span>
		<span class="text">San Francisco, California</span>
	</li>
	<li>
		<span class="title">Contact:</span>
		<a href="#" class="text">greengoo_gigs@youmail.com</a>
	</li>
	<li>
		<span class="title">Website:</span>
		<a href="#" class="text">www.ggrock.com</a>
	</li>
	<li>
		<span class="title">Favourites:</span>
		<a href="#" class="text">5630 </a>
	</li>
</ul>

<!-- ... end W-Personal-Info -->