
<!-- W-Personal-Info -->

<ul class="widget w-personal-info item-block">
	<li>
		<span class="title">Favourite Music Bands / Artists:</span>
		<span class="text">Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a Revenge.</span>
	</li>
	<li>
		<span class="title">Favourite Books:</span>
		<span class="text">The Crime of the Century, Egiptian Mythology 101, The Scarred Wizard, Lord of the Wings, Amongst Gods, The Oracle, A Tale of Air and Water.</span>
	</li>
	<li>
		<span class="title">Favourite Writers:</span>
		<span class="text">Martin T. Georgeston, Jhonathan R. Token, Ivana Rowle, Alexandria Platt, Marcus Roth. </span>
	</li>
	<li>
		<span class="title">Other Interests:</span>
		<span class="text">Swimming, Surfing, Scuba Diving, Anime, Photography, Tattoos, Street Art.</span>
	</li>
</ul>

<!-- ... end W-Personal-Info -->