<!-- W-Personal-Info -->

<ul class="widget w-personal-info item-block">
	<li>
		<span class="title">About Me:</span>
		<span class="text">Hi, I’m James, I’m 36 and I work as a Digital Designer for the  “Daydreams” Agency in Pier 56.</span>
	</li>
	<li>
		<span class="title">Favourite TV Shows:</span>
		<span class="text">Breaking Good, RedDevil, People of Interest, The Running Dead, Found,  American Guy.</span>
	</li>
	<li>
		<span class="title">Favourite Music Bands / Artists:</span>
		<span class="text">Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a Revenge.</span>
	</li>
</ul>

<!-- .. end W-Personal-Info -->