
<!-- W-Personal-Info -->

<ul class="widget w-personal-info">
	<li>
		<span class="title">About Me:</span>
		<span class="text">Hi, I’m James, I’m 36 and I work as a Digital Designer for the
								“Daydreams” Agency in Pier 56
							</span>
	</li>
	<li>
		<span class="title">Birthday:</span>
		<span class="text">December 14th, 1980</span>
	</li>
	<li>
		<span class="title">Birthplace:</span>
		<span class="text">Austin, Texas, USA</span>
	</li>
	<li>
		<span class="title">Lives in:</span>
		<span class="text">San Francisco, California, USA</span>
	</li>
	<li>
		<span class="title">Occupation:</span>
		<span class="text">UI/UX Designer</span>
	</li>
	<li>
		<span class="title">Joined:</span>
		<span class="text">April 31st, 2014</span>
	</li>
	<li>
		<span class="title">Gender:</span>
		<span class="text">Male</span>
	</li>
	<li>
		<span class="title">Status:</span>
		<span class="text">Married</span>
	</li>
	<li>
		<span class="title">Email:</span>
		<a href="#" class="text">jspiegel@yourmail.com</a>
	</li>
	<li>
		<span class="title">Website:</span>
		<a href="#" class="text">daydreamsagency.com</a>
	</li>
	<li>
		<span class="title">Phone Number:</span>
		<span class="text">(044) 555 - 4369 - 8957</span>
	</li>
	<li>
		<span class="title">Religious Belifs:</span>
		<span class="text">-</span>
	</li>
	<li>
		<span class="title">Political Incline:</span>
		<span class="text">Democrat</span>
	</li>
</ul>

<!-- ... end W-Personal-Info -->