
<!-- W-Personal-Info -->

<ul class="widget w-personal-info item-block">
	<li>
		<span class="text">We are Rock Band from Los Angeles, now based in San Francisco, come and listen to us play!</span>
	</li>
	<li>
		<span class="title">Category:</span>
		<span class="text">Rock Band</span>
	</li>
	<li>
		<span class="title">Contact:</span>
		<span class="text">greengoo_gigs@youmail.com</span>
	</li>
	<li>
		<span class="title">Website:</span>
		<a href="#" class="text">www.ggrock.com</a>
	</li>
</ul>

<!-- ... end W-Personal-Info -->