
<!-- W-Playlist -->

<ol class="widget w-playlist">
	<li class="js-open-popup" data-popup-target=".playlist-popup">
		<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
			<img src="img/playlist11.jpg" alt="thumb-composition">
			<div class="overlay"></div>
			<a href="#" class="play-icon">
				<svg class="olymp-music-play-icon-big"><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
			</a>
		</div>

		<div class="composition">
			<a href="#" class="composition-name">The Cowboy</a>
			<a href="#" class="composition-author">System of a Revenge</a>
		</div>

		<div class="composition-time">
			<time class="published" datetime="2017-03-24T18:18">4:02</time>
			<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				<ul class="more-dropdown">
					<li>
						<a href="#">Add Song to Player</a>
					</li>
					<li>
						<a href="#">Add Playlist to Player</a>
					</li>
				</ul>
			</div>
		</div>

	</li>

	<li class="js-open-popup" data-popup-target=".playlist-popup">
		<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
			<img src="img/playlist12.jpg" alt="thumb-composition">
			<div class="overlay"></div>
			<a href="#" class="play-icon">
				<svg class="olymp-music-play-icon-big"><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
			</a>
		</div>

		<div class="composition">
			<a href="#" class="composition-name">The Astronaut</a>
			<a href="#" class="composition-author">Jason Bowie</a>
		</div>

		<div class="composition-time">
			<time class="published" datetime="2017-03-24T18:18">3:54</time>
			<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				<ul class="more-dropdown">
					<li>
						<a href="#">Add Song to Player</a>
					</li>
					<li>
						<a href="#">Add Playlist to Player</a>
					</li>
				</ul>
			</div>
		</div>

	</li>
	<li class="js-open-popup" data-popup-target=".playlist-popup">
		<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
			<img src="img/playlist13.jpg" alt="thumb-composition">
			<div class="overlay"></div>
			<a href="#" class="play-icon">
				<svg class="olymp-music-play-icon-big"><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
			</a>
		</div>

		<div class="composition">
			<a href="#" class="composition-name">City’s Hero</a>
			<a href="#" class="composition-author">Kung Fighters</a>
		</div>

		<div class="composition-time">
			<time class="published" datetime="2017-03-24T18:18">4:36</time>
			<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				<ul class="more-dropdown">
					<li>
						<a href="#">Add Song to Player</a>
					</li>
					<li>
						<a href="#">Add Playlist to Player</a>
					</li>
				</ul>
			</div>
		</div>

	</li>
	<li class="js-open-popup" data-popup-target=".playlist-popup">
		<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
			<img src="img/playlist14.jpg" alt="thumb-composition">
			<div class="overlay"></div>
			<a href="#" class="play-icon">
				<svg class="olymp-music-play-icon-big"><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
			</a>
		</div>

		<div class="composition">
			<a href="#" class="composition-name">Enter Madman</a>
			<a href="#" class="composition-author">MetalDeath</a>
		</div>

		<div class="composition-time">
			<time class="published" datetime="2017-03-24T18:18">5:27</time>
			<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				<ul class="more-dropdown">
					<li>
						<a href="#">Add Song to Player</a>
					</li>
					<li>
						<a href="#">Add Playlist to Player</a>
					</li>
				</ul>
			</div>
		</div>

	</li>
	<li class="js-open-popup" data-popup-target=".playlist-popup">
		<div class="playlist-thumb" data-toggle="tooltip" data-placement="top" title="PLAY / ADD TO PLAYER">
			<img src="img/playlist15.jpg" alt="thumb-composition">
			<div class="overlay"></div>
			<a href="#" class="play-icon">
				<svg class="olymp-music-play-icon-big"><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
			</a>
		</div>

		<div class="composition">
			<a href="#" class="composition-name">Wunderbuss</a>
			<a href="#" class="composition-author">James White</a>
		</div>

		<div class="composition-time">
			<time class="published" datetime="2017-03-24T18:18">4:09</time>
			<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				<ul class="more-dropdown">
					<li>
						<a href="#">Add Song to Player</a>
					</li>
					<li>
						<a href="#">Add Playlist to Player</a>
					</li>
				</ul>
			</div>
		</div>

	</li>
</ol>

<!-- ... end W-Playlist -->

