<!-- W-Playlist -->

<ol class="widget w-playlist">
	<li class="js-open-popup" data-popup-target=".playlist-popup">
		<div class="playlist-thumb">
			<img src="img/playlist6.jpg" alt="thumb-composition">
			<div class="overlay"></div>
			<a href="#" class="play-icon">
				<svg class="olymp-music-play-icon-big">
					<use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use>
				</svg>
			</a>
		</div>

		<div class="composition">
			<a href="#" class="composition-name">The Past Starts Slow...</a>
			<a href="#" class="composition-author">System of a Revenge</a>
		</div>

		<div class="composition-time">
			<time class="published" datetime="2017-03-24T18:18">3:22</time>
			<div class="more">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
				<ul class="more-dropdown">
					<li>
						<a href="#">Add Song to Player</a>
					</li>
					<li>
						<a href="#">Add Playlist to Player</a>
					</li>
				</ul>
			</div>
		</div>

	</li>

	<li class="js-open-popup" data-popup-target=".playlist-popup">
		<div class="playlist-thumb">
			<img src="img/playlist7.jpg" alt="thumb-composition">
			<div class="overlay"></div>
			<a href="#" class="play-icon">
				<svg class="olymp-music-play-icon-big">
					<use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use>
				</svg>
			</a>
		</div>

		<div class="composition">
			<a href="#" class="composition-name">The Pretender</a>
			<a href="#" class="composition-author">Kung Fighters</a>
		</div>

		<div class="composition-time">
			<time class="published" datetime="2017-03-24T18:18">5:48</time>
			<div class="more">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
				<ul class="more-dropdown">
					<li>
						<a href="#">Add Song to Player</a>
					</li>
					<li>
						<a href="#">Add Playlist to Player</a>
					</li>
				</ul>
			</div>
		</div>

	</li>
	<li class="js-open-popup" data-popup-target=".playlist-popup">
		<div class="playlist-thumb">
			<img src="img/playlist8.jpg" alt="thumb-composition">
			<div class="overlay"></div>
			<a href="#" class="play-icon">
				<svg class="olymp-music-play-icon-big">
					<use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use>
				</svg>
			</a>
		</div>

		<div class="composition">
			<a href="#" class="composition-name">Blood Brothers</a>
			<a href="#" class="composition-author">Iron Maid</a>
		</div>

		<div class="composition-time">
			<time class="published" datetime="2017-03-24T18:18">3:06</time>
			<div class="more">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
				<ul class="more-dropdown">
					<li>
						<a href="#">Add Song to Player</a>
					</li>
					<li>
						<a href="#">Add Playlist to Player</a>
					</li>
				</ul>
			</div>
		</div>

	</li>
	<li class="js-open-popup" data-popup-target=".playlist-popup">
		<div class="playlist-thumb">
			<img src="img/playlist9.jpg" alt="thumb-composition">
			<div class="overlay"></div>
			<a href="#" class="play-icon">
				<svg class="olymp-music-play-icon-big">
					<use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use>
				</svg>
			</a>
		</div>

		<div class="composition">
			<a href="#" class="composition-name">Seven Nation Army</a>
			<a href="#" class="composition-author">The Black Stripes</a>
		</div>

		<div class="composition-time">
			<time class="published" datetime="2017-03-24T18:18">6:17</time>
			<div class="more">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
				<ul class="more-dropdown">
					<li>
						<a href="#">Add Song to Player</a>
					</li>
					<li>
						<a href="#">Add Playlist to Player</a>
					</li>
				</ul>
			</div>
		</div>

	</li>
	<li class="js-open-popup" data-popup-target=".playlist-popup">
		<div class="playlist-thumb">
			<img src="img/playlist10.jpg" alt="thumb-composition">
			<div class="overlay"></div>
			<a href="#" class="play-icon">
				<svg class="olymp-music-play-icon-big">
					<use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use>
				</svg>
			</a>
		</div>

		<div class="composition">
			<a href="#" class="composition-name">Killer Queen</a>
			<a href="#" class="composition-author">Archiduke</a>
		</div>

		<div class="composition-time">
			<time class="published" datetime="2017-03-24T18:18">5:40</time>
			<div class="more">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
				<ul class="more-dropdown">
					<li>
						<a href="#">Add Song to Player</a>
					</li>
					<li>
						<a href="#">Add Playlist to Player</a>
					</li>
				</ul>
			</div>
		</div>

	</li>
</ol>

<!-- .. end W-Playlist -->