<!-- W-Pool -->

<ul class="widget w-pool">
	<li>
		<p>If you had to choose, which actor do you prefer to be the next Darkman? </p>
	</li>
	<li>
		<div class="skills-item">
			<div class="skills-item-info">
				<span class="skills-item-title">
					<span class="radio">
						<label>
							<input type="radio" name="optionsRadios">
							Thomas Bale
						</label>
					</span>
				</span>
				<span class="skills-item-count">
					<span class="count-animate" data-speed="1000" data-refresh-interval="50" data-to="62" data-from="0"></span>
					<span class="units">62%</span>
				</span>
			</div>
			<div class="skills-item-meter">
				<span class="skills-item-meter-active bg-primary" style="width: 62%"></span>
			</div>

			<div class="counter-friends">12 friends voted for this</div>

			<ul class="friends-harmonic">
				<li>
					<a href="#">
						<img src="img/friend-harmonic1.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic2.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic3.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic4.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic5.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic6.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic7.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic8.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic9.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#" class="all-users">+3</a>
				</li>
			</ul>
		</div>
	</li>

	<li>
		<div class="skills-item">
			<div class="skills-item-info">
				<span class="skills-item-title">
					<span class="radio">
						<label>
							<input type="radio" name="optionsRadios">
							Ben Robertson
						</label>
					</span>
				</span>
				<span class="skills-item-count">
					<span class="count-animate" data-speed="1000" data-refresh-interval="50" data-to="27" data-from="0"></span>
					<span class="units">27%</span>
				</span>
			</div>
			<div class="skills-item-meter">
				<span class="skills-item-meter-active bg-primary" style="width: 27%"></span>
			</div>
			<div class="counter-friends">7 friends voted for this</div>

			<ul class="friends-harmonic">
				<li>
					<a href="#">
						<img src="img/friend-harmonic7.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic8.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic9.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic10.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic11.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic12.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic13.jpg" alt="friend">
					</a>
				</li>
			</ul>
		</div>
	</li>

	<li>
		<div class="skills-item">
			<div class="skills-item-info">
				<span class="skills-item-title">
					<span class="radio">
						<label>
							<input type="radio" name="optionsRadios">
							Michael Streiton
						</label>
					</span>
				</span>
				<span class="skills-item-count">
					<span class="count-animate" data-speed="1000" data-refresh-interval="50" data-to="11" data-from="0"></span>
					<span class="units">11%</span>
				</span>
			</div>
			<div class="skills-item-meter">
				<span class="skills-item-meter-active bg-primary" style="width: 11%"></span>
			</div>

			<div class="counter-friends">2 people voted for this</div>

			<ul class="friends-harmonic">
				<li>
					<a href="#">
						<img src="img/friend-harmonic14.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic15.jpg" alt="friend">
					</a>
				</li>
			</ul>
		</div>
	</li>
</ul>

<!-- .. end W-Pool -->