
<!-- Widget Recent Topics -->

<ul class="widget w-featured-topics">
	<li>
		<div class="content">
			<a href="#" class="h6 title">Summer is Coming! Picnic in the east boulevard park</a>
			<time class="entry-date updated" datetime="2017-06-24T18:18">26 minutes ago</time>
			<div class="forums">The Community</div>
		</div>
	</li>
	<li>
		<div class="content">
			<a href="#" class="h6 title">Kung Fighters released a new video, check it out here!</a>
			<time class="entry-date updated" datetime="2017-06-24T18:18">44 minutes ago</time>
			<div class="forums">The Boombox</div>
		</div>
	</li>
	<li>
		<div class="content">
			<a href="#" class="h6 title">What’s your favourite season?</a>
			<time class="entry-date updated" datetime="2017-06-24T18:18">59 minutes ago</time>
			<div class="forums">The Community</div>
		</div>
	</li>
	<li>
		<div class="content">
			<a href="#" class="h6 title">Who had the best presentation at this year’s E3? Rate them!</a>
			<time class="entry-date updated" datetime="2017-06-24T18:18">1 hour, 3 minutes ago</time>
			<div class="forums">Arcade Planet</div>
		</div>
	</li>
</ul>

<!-- ... end Widget Recent Topics -->