<!-- W-Socials -->

<div class="widget w-socials">
	<h6 class="title">Other Social Networks:</h6>
	<a href="#" class="social-item bg-facebook">
		<i class="fab fa-facebook-f" aria-hidden="true"></i>
		Facebook
	</a>
	<a href="#" class="social-item bg-twitter">
		<i class="fab fa-twitter" aria-hidden="true"></i>
		Twitter
	</a>
	<a href="#" class="social-item bg-dribbble">
		<i class="fab fa-dribbble" aria-hidden="true"></i>
		Dribbble
	</a>
</div>


<!-- ... end W-Socials -->