<!-- W-Twitter -->

<ul class="widget w-twitter">
	<li class="twitter-item">
		<div class="author-folder">
			<img src="img/twitter-avatar1.png" alt="avatar">
			<div class="author">
				<a href="#" class="author-name">Space Cowboy</a>
				<a href="#" class="group">@james_spiegelOK</a>
			</div>
		</div>
		<p>Tomorrow with the agency we will run 5 km for charity. Come and give us your support!
			<a href="#" class="link-post">#Daydream5K</a></p>
		<span class="post__date">
			<time class="published" datetime="2017-03-24T18:18">
				2 hours ago
			</time>
		</span>
	</li>
	<li class="twitter-item">
		<div class="author-folder">
			<img src="img/twitter-avatar1.png" alt="avatar">
			<div class="author">
				<a href="#" class="author-name">Space Cowboy</a>
				<a href="#" class="group">@james_spiegelOK</a>
			</div>
		</div>
		<p>Check out the new website of “The Bebop Bar”! <a href="#" class="link-post">bytle/thbp53f</a></p>
		<span class="post__date">
			<time class="published" datetime="2017-03-24T18:18">
				16 hours ago
			</time>
		</span>
	</li>
	<li class="twitter-item">
		<div class="author-folder">
			<img src="img/twitter-avatar1.png" alt="avatar">
			<div class="author">
				<a href="#" class="author-name">Space Cowboy</a>
				<a href="#" class="group">@james_spiegelOK</a>
			</div>
		</div>
		<p>The Sunday is the annual agency camping trip and I still haven’t got a tent
			<a href="#" class="link-post">#TheWild #Indoors</a></p>
		<span class="post__date">
			<time class="published" datetime="2017-03-24T18:18">
				Yesterday
			</time>
		</span>
	</li>
</ul>


<!-- .. end W-Twitter -->