
<!-- W-Twitter -->

<ul class="widget w-twitter">
	<li class="twitter-item">
		<div class="author-folder">
			<img src="img/twitter-avatar.png" alt="avatar">
			<div class="author">
				<a href="#" class="author-name">Green Goo Rock</a>
				<a href="#" class="group">@greengoo_rock</a>
				<span class="verified"><i class="fa fa-check" aria-hidden="true"></i></span>
			</div>
		</div>
		<p>This Friday at 8pm we’ll be playing a song of our new album, come and join us! <a href="#" class="link-post">#NewsoftheGoo</a></p>
		<span class="post__date">
							<time class="published" datetime="2017-03-24T18:18">
								4 hours ago
							</time>
						</span>
	</li>
	<li class="twitter-item">
		<div class="author-folder">
			<img src="img/twitter-avatar.png" alt="avatar">
			<div class="author">
				<a href="#" class="author-name">Green Goo Rock</a>
				<a href="#" class="group">@greengoo_rock</a>
				<span class="verified"><i class="fa fa-check" aria-hidden="true"></i></span>
			</div>
		</div>
		<p>Tickets for the Marina Party are now available on <a href="#" class="link-post">www.ggrock.com</a></p>
		<span class="post__date">
							<time class="published" datetime="2017-03-24T18:18">
								Yesterday
							</time>
						</span>
	</li>
	<li class="twitter-item">
		<div class="author-folder">
			<img src="img/twitter-avatar.png" alt="avatar">
			<div class="author">
				<a href="#" class="author-name">Green Goo Rock</a>
				<a href="#" class="group">@greengoo_rock</a>
				<span class="verified"><i class="fa fa-check" aria-hidden="true"></i></span>
			</div>
		</div>
		<p>We had a great time playing in Italy. Thanks a lot to the incredible fans! <a href="#" class="link-post">#GGinRome #PisaArena </a></p>
		<span class="post__date">
							<time class="published" datetime="2017-03-24T18:18">
								5 days ago
							</time>
						</span>
	</li>
</ul>

<!-- ... end W-Twitter -->