
<!-- W-Weather -->

<div class="widget w-wethear">
	<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

	<div class="wethear-now inline-items">
		<div class="temperature-sensor">64°</div>
		<div class="max-min-temperature">
			<span>58°</span>
			<span>76°</span>
		</div>

		<svg class="olymp-weather-partly-sunny-icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-partly-sunny-icon"></use></svg>
	</div>

	<div class="wethear-now-description">
		<div class="climate">Partly Sunny</div>
		<span>Real Feel: <span>67°</span></span>
		<span>Chance of Rain: <span>49%</span></span>
	</div>

	<ul class="weekly-forecast">

		<li>
			<div class="day">sun</div>
			<svg class="olymp-weather-sunny-icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-sunny-icon"></use></svg>

			<div class="temperature-sensor-day">60°</div>
		</li>

		<li>
			<div class="day">mon</div>
			<svg class="olymp-weather-partly-sunny-icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-partly-sunny-icon"></use></svg>
			<div class="temperature-sensor-day">58°</div>
		</li>

		<li>
			<div class="day">tue</div>
			<svg class="olymp-weather-cloudy-icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-cloudy-icon"></use></svg>

			<div class="temperature-sensor-day">67°</div>
		</li>

		<li>
			<div class="day">wed</div>
			<svg class="olymp-weather-rain-icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-rain-icon"></use></svg>

			<div class="temperature-sensor-day">70°</div>
		</li>

		<li>
			<div class="day">thu</div>
			<svg class="olymp-weather-storm-icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-storm-icon"></use></svg>

			<div class="temperature-sensor-day">58°</div>
		</li>

		<li>
			<div class="day">fri</div>
			<svg class="olymp-weather-snow-icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-snow-icon"></use></svg>

			<div class="temperature-sensor-day">68°</div>
		</li>

		<li>
			<div class="day">sat</div>

			<svg class="olymp-weather-wind-icon-header"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-wind-icon-header"></use></svg>

			<div class="temperature-sensor-day">65°</div>
		</li>

	</ul>

	<div class="date-and-place">
		<h5 class="date">Saturday, March 26th</h5>
		<div class="place">San Francisco, CA</div>
	</div>

</div>

<!-- W-Weather -->