
<!-- Comment Form -->

<form>
	<div class="crumina-module crumina-heading with-title-decoration">
		<h5 class="heading-title">Write a Comment</h5>
	</div>
	<div class="row">
		<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
			<div class="form-group label-floating">
				<label class="control-label">Your Name</label>
				<input class="form-control" placeholder="" value="James Spiegel" type="text">
			</div>
		</div>
		<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
			<div class="form-group label-floating">
				<label class="control-label">Your Email</label>
				<input class="form-control" placeholder="" value="jspiegel@yourmail.com" type="email">
			</div>
		</div>

		<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
			<div class="form-group label-floating is-empty">
				<label class="control-label">Your Comment</label>
				<textarea class="form-control" placeholder=""></textarea>
			</div>
			<a href="#" class="btn btn-primary btn-lg full-width">Post your Comment</a>
		</div>
	</div>
</form>

<!-- ... end Comment Form -->


