
<!-- Contacts Form -->

<div class="contact-form-wrap">
	<div class="contact-form-thumb">
		<h2 class="title">SEND US <span>A RAVEN</span></h2>
		<p>Do you have general questions about Olympus Social Network? Send us a raven and we’ll answer you as fast as we can!</p>
		<img src="img/crew.png" alt="crew" class="crew">
	</div>
	<form class="contact-form">
		<div class="row">
			<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
				<div class="form-group label-floating">
					<label class="control-label">First Name</label>
					<input class="form-control" placeholder="" type="text" value="James">
				</div>
			</div>
			<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
				<div class="form-group label-floating">
					<label class="control-label">Last Name</label>
					<input class="form-control" placeholder="" type="text" value="Spiegel">
				</div>
			</div>
			<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="form-group label-floating">
					<label class="control-label">Your Email</label>
					<input class="form-control" placeholder="" type="email" value="james-spiegel@yourmail.com">
				</div>

				<div class="form-group label-floating is-select">
					<label class="control-label">Inquiry Subject</label>
					<select class="selectpicker form-control">
						<option value="AC">Olympus Account Inquiries</option>
						<option value="AC">Olympus Account Inquiries</option>
					</select>
				</div>

				<div class="form-group label-floating is-empty">
					<label class="control-label">Your Message</label>
					<textarea class="form-control" placeholder=""></textarea>
				</div>

				<button class="btn btn-purple btn-lg full-width">Send Message</button>
			</div>
		</div>
	</form>
</div>

<!-- ... end Contacts Form -->
