
<!-- Music Playlist Form  -->

<form>

	<fieldset class="form-group label-floating is-select">
		<label class="control-label">Songs Showed Before the Jump</label>
		<select class="selectpicker form-control">
			<option value="AL">Show 5 Songs</option>
			<option value="2">Show 7 Songs</option>
			<option value="WY">Show 10 Songs</option>
		</select>
	</fieldset>

	<fieldset class="form-group label-floating is-select">
		<label class="control-label">Album Cover Options</label>
		<select class="selectpicker form-control">
			<option value="AL">Show Album Covers</option>
			<option value="2">Show Album Covers</option>
			<option value="WY">Show Album Covers</option>
		</select>
	</fieldset>

</form>

<!-- ... end Music Playlist Form  -->
