
<form>
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label">Topic Title</label>
				<input class="form-control" type="text" placeholder="" value="New York Comix Con is having the best panels this year!">
			</div>
		</div>

		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label">Select Category</label>
				<select class="selectpicker form-control">
					<option value="RO">The Robot’s Dungeon</option>
					<option value="RO">The Robot’s Dungeon</option>
				</select>
			</div>
		</div>

		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label">Select Subcategory</label>
				<select class="selectpicker form-control">
					<option value="CO">Comics</option>
					<option value="HO">Horrors</option>
				</select>
			</div>
		</div>

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label">Topic Title</label>
				<textarea class="form-control" style="height: 240px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
			</div>

			<div class="form-group">
				<input class="form-control" type="text" placeholder="Choose Optional Tags">
			</div>
		</div>

		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<a href="#" class="btn btn-secondary btn-lg full-width">Cancel</a>
		</div>

		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<a href="#" class="btn btn-blue btn-lg full-width">Post Topic</a>
		</div>
	</div>
</form>
