
<!-- Form Weather -->

<form>
	<div class="row">
		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<fieldset class="form-group label-floating is-select">
				<label class="control-label">Country and Timezone</label>
				<select class="selectpicker form-control">
					<option value="AL">United States (UTC-8)</option>
					<option value="2">Ontario (UTC−6)</option>
					<option value="WY">Alberta (UTC−6)</option>
				</select>
			</fieldset>

			<fieldset class="form-group label-floating is-select">
				<label class="control-label">Extended Forecast Days</label>
				<select class="selectpicker form-control">
					<option value="AL">Show Next 7 days</option>
					<option value="2">Show Next 10 days</option>
					<option value="WY">Show Next 14 days</option>
				</select>
			</fieldset>

			<a href="#" class="btn btn-secondary btn-md full-width">Restore all Attributes</a>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<fieldset class="form-group label-floating is-select">
				<label class="control-label">Temperature Unit</label>
				<select class="selectpicker form-control">
					<option value="AL">F° (Farenheit)</option>
					<option value="2">C° (Celsius)</option>
				</select>
			</fieldset>

			<div class="switcher-block">
				<div class="h6 title">Show Extended Forecast on Widget</div>
				<div class="togglebutton blue">
					<label>
						<input type="checkbox" checked="">
					</label>
				</div>
			</div>

			<a href="#" class="btn btn-blue btn-md full-width">Save all Changes</a>
		</div>
	</div>
</form>

<!-- ... end Form Weather -->