
<!-- Form Hobbies and Interests -->

<form>
	<div class="row">

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label">Hobbies</label>
				<textarea class="form-control" placeholder=""  >I like to ride the bike to work, swimming, and working out. I also like reading design magazines, go to museums, and binge watching a good tv show while it’s raining outside.
								</textarea>
			</div>
			<div class="form-group label-floating">
				<label class="control-label">Favourite TV Shows</label>
				<textarea class="form-control" placeholder=""  >Breaking Good, RedDevil, People of Interest, The Running Dead, Found,  American Guy.</textarea>
			</div>
			<div class="form-group label-floating">
				<label class="control-label">Favourite Movies</label>
				<textarea class="form-control" placeholder=""  >Idiocratic, The Scarred Wizard and the Fire Crown,  Crime Squad, Ferrum Man. </textarea>
			</div>
			<div class="form-group label-floating">
				<label class="control-label">Favourite Games</label>
				<textarea class="form-control" placeholder=""  >The First of Us, Assassin’s Squad, Dark Assylum, NMAK16, Last Cause 4, Grand Snatch Auto. </textarea>
			</div>

			<button class="btn btn-secondary btn-lg full-width">Cancel</button>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label">Favourite Music Bands / Artists</label>
				<textarea class="form-control" placeholder=""  >Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a Revenge.</textarea>
			</div>
			<div class="form-group label-floating">
				<label class="control-label">Favourite Books</label>
				<textarea class="form-control" placeholder=""  >The Crime of the Century, Egiptian Mythology 101, The Scarred Wizard, Lord of the Wings, Amongst Gods, The Oracle, A Tale of Air and Water.</textarea>
			</div>
			<div class="form-group label-floating">
				<label class="control-label">Favourite Writers</label>
				<textarea class="form-control" placeholder=""  >Martin T. Georgeston, Jhonathan R. Token, Ivana Rowle, Alexandria Platt, Marcus Roth. </textarea>
			</div>
			<div class="form-group label-floating">
				<label class="control-label">Other Interests</label>
				<textarea class="form-control" placeholder=""  >Swimming, Surfing, Scuba Diving, Anime, Photography, Tattoos, Street Art.</textarea>
			</div>

			<button class="btn btn-primary btn-lg full-width">Save all Changes</button>
		</div>

	</div>
</form>

<!-- ... end Form Hobbies and Interests -->
