
<!-- Search Form  -->

<form class="form-inline search-form" method="post">
	<div class="form-group label-floating">
		<label class="control-label">What do you need help with?</label>
		<input class="form-control bg-white" placeholder="" type="text" value="How do I change my profile picture?">
	</div>

	<button class="btn btn-purple btn-lg">Search</button>
</form>

<!-- ... end Search Form  -->