
<!-- Subscribe Form  -->

<form class="form-inline subscribe-form" method="post">
	<div class="form-group label-floating is-empty">
		<label class="control-label">Enter your email</label>
		<input class="form-control bg-white" placeholder="" type="email">
	</div>

	<button class="btn btn-blue btn-lg">Send</button>
</form>

<!-- ... end Subscribe Form  -->
