
<!-- Help Support Block -->

<div class="help-support-block">
	<h3 class="title">Getting Started<a href="" class="total-topic">14</a></h3>
	<ul class="help-support-list">
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">Creating your Olympus account</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">How do I post media on my account?</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">Inviting friends to join Olympus</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">How do I search for my friends?</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">Create and manage friend groups</a>
		</li>
	</ul>
</div>

<!-- ... end Help Support Block -->
