
<!-- Help Support Block -->

<div class="help-support-block">
	<h3 class="title">Related Topics</h3>
	<ul class="help-support-list">
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">Creating your Olympus account</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">How do I post media on my account?</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">Inviting friends to join Olympus</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">How do I search for my friends?</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">Create and manage friend groups</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">How does the Olympus account synchronization works?</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">Creating a live video feed</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">Monetize your content</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">Can I have a personal account and a fav account at the same time?</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">Winning profile badges</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">Creating a live video feed</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">Profile badges tiers</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">Adding friends birthdays</a>
		</li>
		<li>
			<svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
			<a href="#">Account statistics</a>
		</li>
	</ul>
</div>

<!-- ... end Help Support Block -->
