
<!-- Search Help Result -->

<div class="search-help-result">
	<h3 class="search-help-result-title">
		<span class="count-result">3 results</span>
		found for:
		<span class="search-query"> “How do I change my profile picture?”</span>
	</h3>

	<ul class="search-help-result-list">
		<li>
			<h2 class="title">Changing you profile picture</h2>
			<div class="single-post-additional inline-items">
				<div class="post__author author vcard inline-items">
					<img alt="author" src="img/avatar5.jpg" class="avatar">
					<div class="author-date not-uppercase">
						<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
						<div class="author_prof">
							Author
						</div>
					</div>
				</div>
				<div class="post-date-wrap inline-items">
					<svg class="olymp-calendar-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
					<div class="post-date">
						<a class="h6 date" href="#">August 24th, 201</a>
						<span>Last Updated</span>
					</div>
				</div>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
				reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
			</p>

			<div class="user-raiting">
				<img src="img/icon-chat27.png" alt="icon">
				<span>84% of users found this helpful</span>
			</div>
		</li>
		<li>
			<h2 class="title">Profile picture guidelines</h2>
			<div class="single-post-additional inline-items">
				<div class="post__author author vcard inline-items">
					<img alt="author" src="img/avatar84-sm.jpg" class="avatar">
					<div class="author-date not-uppercase">
						<a class="h6 post__author-name fn" href="#">Jack Scorpio</a>
						<div class="author_prof">
							Author
						</div>
					</div>
				</div>
				<div class="post-date-wrap inline-items">
					<svg class="olymp-calendar-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
					<div class="post-date">
						<a class="h6 date" href="#">March 17th, 2016</a>
						<span>Last Updated</span>
					</div>
				</div>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
				reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
			</p>

			<div class="user-raiting">
				<img src="img/icon-chat29.png" alt="icon">
				<span>20% of users found this helpful</span>
			</div>
		</li>
		<li>
			<h2 class="title">Report a profile picture</h2>
			<div class="single-post-additional inline-items">
				<div class="post__author author vcard inline-items">
					<img alt="author" src="img/avatar5.jpg" class="avatar">
					<div class="author-date not-uppercase">
						<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
						<div class="author_prof">
							Author
						</div>
					</div>
				</div>
				<div class="post-date-wrap inline-items">
					<svg class="olymp-calendar-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
					<div class="post-date">
						<a class="h6 date" href="#">September 6th, 2014</a>
						<span>Last Updated</span>
					</div>
				</div>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
				reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
			</p>

			<div class="user-raiting">
				<img src="img/icon-chat27.png" alt="icon">
				<span>93% of users found this helpful</span>
			</div>
		</li>
	</ul>
</div>

<!-- ... end Search Help Result -->
