
<!-- Testimonial Item -->

<div class="crumina-module crumina-testimonial-item">
	<div class="testimonial-header-thumb"></div>

	<div class="testimonial-item-content">

		<div class="author-thumb">
			<img src="img/avatar3.jpg" alt="author">
		</div>

		<h3 class="testimonial-title">Amazing Community</h3>

		<ul class="rait-stars">
			<li>
				<i class="fa fa-star star-icon"></i>
			</li>
			<li>
				<i class="fa fa-star star-icon"></i>
			</li>

			<li>
				<i class="fa fa-star star-icon"></i>
			</li>
			<li>
				<i class="fa fa-star star-icon"></i>
			</li>
			<li>
				<i class="far fa-star star-icon"></i>
			</li>
		</ul>

		<p class="testimonial-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
			incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
			exercitation ullamco.
		</p>

		<div class="author-content">
			<a href="#" class="h6 author-name">Mathilda Brinker</a>
			<div class="country">Los Angeles, CA</div>
		</div>
	</div>
</div>

<!-- ... end Testimonial Item -->