
<!-- Testimonial Item -->

<div class="crumina-module crumina-testimonial-item">
	<div class="testimonial-header-thumb"></div>

	<div class="testimonial-item-content">

		<div class="author-thumb">
			<img src="img/avatar1.jpg" alt="author">
		</div>

		<h3 class="testimonial-title">Incredible Design!</h3>

		<ul class="rait-stars">
			<li>
				<i class="fa fa-star star-icon"></i>
			</li>
			<li>
				<i class="fa fa-star star-icon"></i>
			</li>

			<li>
				<i class="fa fa-star star-icon"></i>
			</li>
			<li>
				<i class="fa fa-star star-icon"></i>
			</li>
			<li>
				<i class="far fa-star star-icon"></i>
			</li>
		</ul>

		<p class="testimonial-message">Sed ut perspiciatis unde omnis iste natus error sit
			voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
			illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		</p>

		<div class="author-content">
			<a href="#" class="h6 author-name">Nicholas Grissom</a>
			<div class="country">San Francisco, CA</div>
		</div>
	</div>
</div>

<!-- ... end Testimonial Item -->