
<!-- Testimonial Item -->

<div class="crumina-module crumina-testimonial-item">
	<div class="testimonial-header-thumb"></div>

	<div class="testimonial-item-content">

		<div class="author-thumb">
			<img src="img/avatar17.jpg" alt="author">
		</div>

		<h3 class="testimonial-title">This is the Best Social Network ever!</h3>

		<ul class="rait-stars">
			<li>
				<i class="fa fa-star star-icon"></i>
			</li>
			<li>
				<i class="fa fa-star star-icon"></i>
			</li>

			<li>
				<i class="fa fa-star star-icon"></i>
			</li>
			<li>
				<i class="fa fa-star star-icon"></i>
			</li>
			<li>
				<i class="fa fa-star star-icon"></i>
			</li>
		</ul>

		<p class="testimonial-message">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
			nulla pariatur laborum.
		</p>

		<div class="author-content">
			<a href="#" class="h6 author-name">Marina Valentine</a>
			<div class="country">Long Island, NY</div>
		</div>
	</div>
</div>

<!-- ... end Testimonial Item -->
