
<div class="photo-item col-4-width">
	<img src="img/photo-item6.jpg" alt="photo">
	<div class="overlay overlay-dark"></div>
	<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
	<a href="#" class="post-add-icon inline-items">
		<svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
		<span>15</span>
	</a>
	<a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
	<div class="content">
		<a href="#" class="h6 title">Header Photos</a>
		<time class="published" datetime="2017-03-24T18:18">1 week ago</time>
	</div>
</div>
