
<!-- Friend Item -->

<div class="friend-item friend-groups create-group" data-mh="friend-groups-item">

	<a href="#" class="  full-block" data-toggle="modal" data-target="#create-friend-group-1"></a>
	<div class="content">

		<a href="#" class="  btn btn-control bg-blue" data-toggle="modal" data-target="#create-friend-group-1">
			<svg class="olymp-plus-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
		</a>

		<div class="author-content">
			<a href="#" class="h5 author-name">My Family</a>
			<div class="country">6 Friends in the Group</div>
		</div>

	</div>

</div>

<!-- ... end Friend Item -->