
<!-- Friend Item -->

<div class="friend-item friend-groups">

	<div class="friend-item-content">

		<div class="more">
			<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<ul class="more-dropdown">
				<li>
					<a href="#">Report Profile</a>
				</li>
				<li>
					<a href="#">Block Profile</a>
				</li>
				<li>
					<a href="#">Turn Off Notifications</a>
				</li>
			</ul>
		</div>
		<div class="friend-avatar">
			<div class="author-thumb">
				<img src="img/friend-group2.jpg" alt="photo">
			</div>
			<div class="author-content">
				<a href="#" class="h5 author-name">Close Friends</a>
				<div class="country">4 Friends in the Group</div>
			</div>
		</div>

		<ul class="friends-harmonic">
			<li>
				<a href="#">
					<img src="img/friend-harmonic5.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic10.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic7.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic8.jpg" alt="friend">
				</a>
			</li>
			<li>
		</ul>


		<div class="control-block-button">
			<a href="#" class="  btn btn-control bg-blue" data-toggle="modal" data-target="#create-friend-group-add-friends">
				<svg class="olymp-happy-faces-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use></svg>
			</a>

			<a href="#" class="btn btn-control btn-grey-lighter">
				<svg class="olymp-settings-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>
			</a>

		</div>


	</div>
</div>

<!-- ... end Friend Item -->