
<!-- Stunning header -->

<div class="stunning-header bg-primary-opacity">

	{{> headers-navigations/header-landing }}

	<div class="header-spacer--standard"></div>
	<div class="stunning-header-content">
		<h1 class="stunning-header-title">{{#if stunning-title}}{{stunning-title}}{{else}}Default Page{{/if}}</h1>
		<ul class="breadcrumbs">
			<li class="breadcrumbs-item">
				<a href="#">Home</a>
				<span class="icon breadcrumbs-custom">/</span>
			</li>
			<li class="breadcrumbs-item active">
				<span>Blog Masonry</span>
			</li>
		</ul>
	</div>

	<div class="content-bg-wrap stunning-header-bg1"></div>
</div>

<!-- ... end Stunning header -->