
<!-- Slider Weather -->

<div class="swiper-container pagination-bottom" data-slide="fade">
	<div class="swiper-wrapper">
		<div class="swiper-slide swiper-slide-weather" data-swiper-parallax="-500">
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Tomorrow</div>

				<svg class="olymp-weather-sunny-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-sunny-icon"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">60°</div>
					<div class="max-min-temperature">
						<span>55°</span>
						<span class="high">69°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Monday 28</div>
				<svg class="olymp-weather-wind-icon-header icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-wind-icon-header"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">58°</div>
					<div class="max-min-temperature">
						<span>52°</span>
						<span class="high">64°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Tuesday 29</div>

				<svg class="olymp-weather-cloudy-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-cloudy-icon"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">67°</div>
					<div class="max-min-temperature">
						<span>62°</span>
						<span class="high">77°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Wednesday 30</div>
				<svg class="olymp-weather-rain-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-rain-icon"></use></svg>
				<div class="wethear-now">
					<div class="temperature-sensor">70°</div>
					<div class="max-min-temperature">
						<span>65°</span>
						<span class="high">82°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Thursday 31</div>
				<svg class="olymp-weather-storm-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-storm-icon"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">73°</div>
					<div class="max-min-temperature">
						<span>68°</span>
						<span class="high">79°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Friday 1</div>
				<svg class="olymp-weather-snow-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-snow-icon"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">68°</div>
					<div class="max-min-temperature">
						<span>56°</span>
						<span class="high">69°</span>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide swiper-slide-weather" data-swiper-parallax="-500">
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Tomorrow</div>

				<svg class="olymp-weather-sunny-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-sunny-icon"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">60°</div>
					<div class="max-min-temperature">
						<span>55°</span>
						<span class="high">69°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Monday 28</div>
				<svg class="olymp-weather-wind-icon-header icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-wind-icon-header"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">58°</div>
					<div class="max-min-temperature">
						<span>52°</span>
						<span class="high">64°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Tuesday 29</div>

				<svg class="olymp-weather-cloudy-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-cloudy-icon"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">67°</div>
					<div class="max-min-temperature">
						<span>62°</span>
						<span class="high">77°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Wednesday 30</div>
				<svg class="olymp-weather-rain-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-rain-icon"></use></svg>
				<div class="wethear-now">
					<div class="temperature-sensor">70°</div>
					<div class="max-min-temperature">
						<span>65°</span>
						<span class="high">82°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Thursday 31</div>
				<svg class="olymp-weather-storm-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-storm-icon"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">73°</div>
					<div class="max-min-temperature">
						<span>68°</span>
						<span class="high">79°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Friday 1</div>
				<svg class="olymp-weather-snow-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-snow-icon"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">68°</div>
					<div class="max-min-temperature">
						<span>56°</span>
						<span class="high">69°</span>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide swiper-slide-weather" data-swiper-parallax="-500">
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Tomorrow</div>

				<svg class="olymp-weather-sunny-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-sunny-icon"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">60°</div>
					<div class="max-min-temperature">
						<span>55°</span>
						<span class="high">69°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Monday 28</div>
				<svg class="olymp-weather-wind-icon-header icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-wind-icon-header"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">58°</div>
					<div class="max-min-temperature">
						<span>52°</span>
						<span class="high">64°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Tuesday 29</div>

				<svg class="olymp-weather-cloudy-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-cloudy-icon"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">67°</div>
					<div class="max-min-temperature">
						<span>62°</span>
						<span class="high">77°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Wednesday 30</div>
				<svg class="olymp-weather-rain-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-rain-icon"></use></svg>
				<div class="wethear-now">
					<div class="temperature-sensor">70°</div>
					<div class="max-min-temperature">
						<span>65°</span>
						<span class="high">82°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Thursday 31</div>
				<svg class="olymp-weather-storm-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-storm-icon"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">73°</div>
					<div class="max-min-temperature">
						<span>68°</span>
						<span class="high">79°</span>
					</div>
				</div>
			</div>
			<div class="day-wethear-item" data-mh="wethear-item">
				<div class="title">Friday 1</div>
				<svg class="olymp-weather-snow-icon icon"><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-snow-icon"></use></svg>

				<div class="wethear-now">
					<div class="temperature-sensor">68°</div>
					<div class="max-min-temperature">
						<span>56°</span>
						<span class="high">69°</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- If we need pagination -->
	<div class="swiper-pagination pagination-blue"></div>
</div>

<!-- ... end Slider Weather -->
