<div id="accordion" role="tablist" aria-multiselectable="true" class="accordion-faqs">
	<div class="card">
		<div class="card-header" role="tab" id="headingOne">
			<h3 class="mb-0">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					How do I create my Olympus account?
					<span class="icons-wrap">
						<svg class="olymp-plus-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
						<svg class="olymp-accordion-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use></svg>
					</span>
				</a>
			</h3>
		</div>
	</div>
	<div class="card">
		<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
				in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>

			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
				laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
				architecto beatae vitae dicta sunt explicabo.
			</p>
		</div>
	</div>
	<div class="card">
		<div class="card-header" role="tab" id="headingOne-1">
			<h3 class="mb-0">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
					Is my account free? Do I have to pay anything?
					<span class="icons-wrap">
										<svg class="olymp-plus-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
										<svg class="olymp-accordion-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use></svg>
									</span>
				</a>
			</h3>
		</div>
	</div>
	<div class="card">
		<div id="collapseOne-1" class="collapse" role="tabpanel" aria-labelledby="headingOne-1">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
				in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>

			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
				laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
				architecto beatae vitae dicta sunt explicabo.
			</p>
		</div>
	</div>
	<div class="card">
		<div class="card-header" role="tab" id="headingOne-2">
			<h3 class="mb-0">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
					Can anyone create an account?
					<span class="icons-wrap">
										<svg class="olymp-plus-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
										<svg class="olymp-accordion-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use></svg>
									</span>
				</a>
			</h3>
		</div>
	</div>
	<div class="card">
		<div id="collapseOne-2" class="collapse" role="tabpanel" aria-labelledby="headingOne-2">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
				in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>

			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
				laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
				architecto beatae vitae dicta sunt explicabo.
			</p>
		</div>
	</div>
	<div class="card">
		<div class="card-header" role="tab" id="headingOne-3">
			<h3 class="mb-0">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3" class="collapsed">
					Can I invite friends to join Olympus?
					<span class="icons-wrap">
										<svg class="olymp-plus-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
										<svg class="olymp-accordion-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use></svg>
									</span>
				</a>
			</h3>
		</div>
	</div>
	<div class="card">
		<div id="collapseOne-3" class="collapse" role="tabpanel" aria-labelledby="headingOne">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
				in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>

			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
				laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
				architecto beatae vitae dicta sunt explicabo.
			</p>
		</div>
	</div>
	<div class="card">
		<div class="card-header" role="tab" id="headingOne-4">
			<h3 class="mb-0">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-4" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
					Is there a referral system?
					<span class="icons-wrap">
										<svg class="olymp-plus-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
										<svg class="olymp-accordion-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use></svg>
									</span>
				</a>
			</h3>
		</div>
	</div>
	<div class="card">
		<div id="collapseOne-4" class="collapse" role="tabpanel" aria-labelledby="headingOne">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
				in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>

			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
				laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
				architecto beatae vitae dicta sunt explicabo.
			</p>
		</div>
	</div>
	<div class="card">
		<div class="card-header" role="tab" id="headingOne-5">
			<h3 class="mb-0">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-5" aria-expanded="true" aria-controls="collapseOne-5" class="collapsed">
					How can I close my Olympus account?
					<span class="icons-wrap">
										<svg class="olymp-plus-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
										<svg class="olymp-accordion-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use></svg>
									</span>
				</a>
			</h3>
		</div>
	</div>
	<div class="card">
		<div id="collapseOne-5" class="collapse" role="tabpanel" aria-labelledby="headingOne-5">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
				in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>

			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
				laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
				architecto beatae vitae dicta sunt explicabo.
			</p>
		</div>
	</div>
</div>

