
<!-- Friend Item -->

<div class="friend-item fav-page">
	<div class="friend-header-thumb">
		<img src="img/fav5.jpg" alt="friend">
	</div>

	<div class="friend-item-content">

		<div class="more">
			<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<ul class="more-dropdown">
				<li>
					<a href="#">Report Profile</a>
				</li>
				<li>
					<a href="#">Block Profile</a>
				</li>
				<li>
					<a href="#">Turn Off Notifications</a>
				</li>
			</ul>
		</div>
		<div class="friend-avatar">
			<div class="author-thumb">
				<img src="img/avatar13.jpg" alt="author">
			</div>
			<div class="author-content">
				<a href="#" class="h5 author-name">Blue Whale Pizzas</a>
				<div class="country">Restaurant / Bar</div>
			</div>
		</div>

		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="friend-count" data-swiper-parallax="-500">
						<a href="#" class="friend-count-item">
							<div class="h6">48</div>
							<div class="title">Photos</div>
						</a>
						<a href="#" class="friend-count-item">
							<div class="h6">5630</div>
							<div class="title">Favourites</div>
						</a>
						<a href="#" class="friend-count-item">
							<div class="h6">12</div>
							<div class="title">Videos</div>
						</a>
					</div>
					<div class="control-block-button" data-swiper-parallax="-100">
						<a href="#" class="btn btn-control bg-primary">
							<svg class="olymp-star-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
						</a>

						<a href="#" class="btn btn-control bg-purple">
							<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
						</a>

					</div>
				</div>

				<div class="swiper-slide">
					<p class="friend-about" data-swiper-parallax="-500">
						We are Rock Band from Los Angeles, now based in San Francisco, come and listen to us play!
					</p>

					<div class="friend-since" data-swiper-parallax="-100">
						<div>Website:</div>
						<a href="#" class="h6">www.ggrock.com</a>
					</div>
				</div>
			</div>

			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>

<!-- ... end Friend Item -->
